<h3 id="dropdown" class="page-header">Dropdown</h3>

<div class="dropdown">
  <button class="btn btn-info" tw-dropdown>Button Dropdown <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="" ng-click="$ctrl.log('click link one');">Link one</a></li>
    <li><a href="" ng-click="$ctrl.log('click link two');">Link two</a></li>
  </ul>
</div>

<ul class="nav">
  <li class="dropdown">
    <a href="" tw-dropdown>Nav Dropdown <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="" ng-click="$ctrl.log('click link one');">Link one</a></li>
      <li class="dropdown-header">Heading</li>
      <li><a href="" ng-click="$ctrl.log('click link two');">Link two</a></li>
    </ul>
  </li>
</ul>
