<h4 id="activity-cards">Activity Cards</h4>
<p>These are cards that have information about an activity and provide
	more detail when they're expanded.</p>
<p>They expand differently on mobile</p>
<hr />

<tw-activity-card-container>
	<tw-activity-card>
		<tw-activity-card-collapsed>
			<h3>this is the header of collapsed</h3>
			<p> this is some info of collapsed </p>
		</tw-activity-card-collapsed>
		<tw-activity-card-expanded>
			<p>this is info that's been expanded in</p>
		</tw-activity-card-expanded>
		<tw-activity-card-repeat>
			<p> click this button to repeat the transfer </p>
		</tw-activity-card-repeat>
	</tw-activity-card>
</tw-activity-card-container>