<h4 id="affix">TW Affix</h4>
<p><code>tw-affix</code> is an attribute based directive that applies a class
	<code>.affix</code> when the scroll position reaches the the declared
	<code>data-offset-top</code> from the top of the screen, until it reaches the
	<code>data-offset-bottom</code> (if supplied).</p>
<p>Typically you will apply some <code>position: fixed;</code> CSS styles once
	the class is applied.</p>

<p class="text-danger">tw-affix requires bootstrap.js</p>

<hr />

<div>
	<div class="alert alert-info" tw-affix
		data-offset-top="100">
		Affix class will turn this green when scrolled over 100px from top
	</div>


<pre>
&lt;div tw-affix
  data-offset-top="100"&gt;
  Affix class will turn this green when scrolled over 100px from top
&lt;/a&gt;
</pre>

</div>

<hr />
