<h4 id="checkbox">TW Checkbox</h4>
<hr />
<form>
<div class="row m-b-3">
	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label">
				TW Checkbox
			</label>
			<div class="checkbox">
				<label>
					<tw-checkbox
						ng-model="vm.model.components.checkbox"
						ng-required="vm.checkbox.required"
						ng-disabled="vm.checkbox.disabled" />
					TW Checkbox<span ng-if="vm.checkbox.required">*</span>
				</label>
			</div>
			<div class="form-inline">
				<label>
					<tw-checkbox class="m-r-1"
						ng-model="vm.checkbox.disabled"
						/>Disable the checkbox above?
				</label>
			</div>
		</div>

		<h5>Configuration</h5>
<pre>&lt;tw-checkbox
  name="mySelect"
  ng-model="vm.components.checkbox"
  ng-required="{{vm.checkbox.required}}"
  ng-disabled="{{vm.checkbox.disabled}}"
  tw-validation /&gt;</pre>
	</div>
	<div class="col-md-6">
		<div class="well">
			<h5 class="page-header">
				Edit configuration
			</h5>
			<div class="form-group">
				<label class="control-label">
					Required?
				</label>
				<div class="checkbox">
					<label>
						<tw-checkbox ng-model="vm.checkbox.required" />
						Is the control required?
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">
					Disabled?
				</label>
				<div class="checkbox">
					<label>
						<tw-checkbox ng-model="vm.checkbox.disabled" />
						Is the control disabled?
					</label>
				</div>
			</div>
			<input type="submit" class="btn btn-primary btn-block" value="Submit form" />
		</div>
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<th colspan="2">Classes &amp; styles</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><code>.tw-checkbox-button</code></td>
			<td><button class="tw-checkbox-button"><span class="tw-checkbox-check glyphicon glyphicon-ok"></span></button></td>
		</tr>
		<tr>
			<td><code>.tw-checkbox-button:focus</code></td>
			<td><button class="tw-checkbox-button focus"><span class="tw-checkbox-check glyphicon glyphicon-ok"></span></button></td>
		</tr>
		<tr>
			<td><code>.tw-checkbox-button.checked</code></td>
			<td><button class="tw-checkbox-button checked" ><span class="tw-checkbox-check glyphicon glyphicon-ok"></span></button></td>
		</tr>
		<tr>
			<td><code>.tw-checkbox-button[disabled]</code></td>
			<td><button class="tw-checkbox-button" disabled><span class="tw-checkbox-check glyphicon glyphicon-ok"></span></button></td>
		</tr>
		<tr>
			<td><code>.tw-checkbox-button.checked[disabled]</code></td>
			<td><button class="tw-checkbox-button checked" disabled><span class="tw-checkbox-check glyphicon glyphicon-ok"></span></button></td>
		</tr>
		<tr>
			<td><code>.tw-checkbox-button.has-error</code></td>
			<td><button class="tw-checkbox-button has-error"><span class="tw-checkbox-check glyphicon glyphicon-ok"></span></button></td>
		</tr>
		<tr>
			<td><code>.tw-checkbox-button.has-error.checked</code></td>
			<td><button class="tw-checkbox-button has-error checked"><span class="tw-checkbox-check glyphicon glyphicon-ok"></span></button></td>
		</tr>
		<tr>
			<td><code>.tw-checkbox-button.has-error.checked[disabled]</code></td>
			<td><button class="tw-checkbox-button has-error checked" disabled><span class="tw-checkbox-check glyphicon glyphicon-ok"></span></button></div></td>
		</tr>
	</tbody>
</table>
</form>
