<h4 id="currency-input">TW Currency Input</h4>
<p>Two way data binding via ng-model</p>
<hr/>
<form>
<div class="row m-b-3">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="date">
                Example currency input
            </label>
            <tw-currency-input
                tw-validation
                currency-symbol="{{ vm.currencyInput.currencySymbol }}"
                currency-code="{{ vm.currencyInput.currencyCode }}"
                show-decimals="true"
                ng-model="vm.model.components.currencyInput"
                ng-change="vm.log('currency input value:' + vm.model.components.currencyInput)"
                ng-required="vm.currencyInput.required"
                ng-min="vm.currencyInput.min"
                ng-max="vm.currencyInput.max"
                size="{{vm.currencyInput.size}}" />
            <div class="error-messages">
                <div class="error-required">Required</div>
                <div class="error-min">Must be higher</div>
                <div class="error-max">Must be lower</div>
            </div>
            <status-messages></status-messages>
        </div>
        <div class="form-group form-group-lg">
            <label class="control-label" for="date">
                Example currency input
            </label>
            <tw-currency-input
                tw-validation
                currency-symbol="{{ vm.currencyInput.currencySymbol }}"
                currency-code="{{ vm.currencyInput.currencyCode }}"
                show-decimals="true"
                ng-model="vm.model.components.currencyInput"
                ng-change="vm.log('currency input value:' + vm.model.components.currencyInput)"
                ng-required="vm.currencyInput.required"
                ng-min="vm.currencyInput.min"
                ng-max="vm.currencyInput.max"
                size="lg" />
            <div class="error-messages">
                <div class="error-required">Required</div>
                <div class="error-min">Must be higher</div>
                <div class="error-max">Must be lower</div>
            </div>
            <status-messages></status-messages>
        </div>
        <h5>Configuration</h5>
<pre>&lt;tw-currency-input
    tw-validation
    currency-symbol="{{ vm.currencyInput.currencySymbol }}"
    currency-code="{{ vm.currencyInput.currencyCode }}"
    show-decimals="{{ vm.currencyInput.showDecimals }}"
    ng-model="{{vm.model.components.currencyInput}}"
    ng-change="vm.log('input change')"
    ng-required="{{ vm.currencyInput.required }}"
    ng-min="{{ vm.currencyInput.min }}"
    ng-max="{{ vm.currencyInput.max }}" /&gt;</pre>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h5 class="page-header">
                Edit configuration
            </h5>
            <div class="form-group">
                <label class="control-label">
                    Required?
                </label>
                <div class="checkbox">
                    <label>
                        <tw-checkbox ng-model="vm.currencyInput.required" ng-init="vm.currencyInput.required = false" />
                        Is the control required?
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">
                    Currency Symbol
                </label>
                <input type="text"
                    class="form-control"
                    ng-model="vm.currencyInput.currencySymbol"
                    ng-init="vm.currencyInput.currencySymbol = '€'"
                    tw-validation />
            </div>
            <div class="form-group">
                <label class="control-label">
                    Currency Code
                </label>
                <input type="text"
                    class="form-control"
                    ng-model="vm.currencyInput.currencyCode"
                    ng-init="vm.currencyInput.currencyCode = 'EUR'"
                    tw-validation />
            </div>
            <div class="form-group">
                <label class="control-label">
                    Min amount
                </label>
                <input type="number"
                    class="form-control"
                    ng-model="vm.currencyInput.min"
                    ng-init="vm.currencyInput.min = 10"
                    tw-validation />
            </div>
            <div class="form-group">
                <label class="control-label">
                    Max amount
                </label>
                <input type="number"
                    class="form-control"
                    ng-model="vm.currencyInput.max"
                    ng-init="vm.currencyInput.max = 100"
                    tw-validation />
            </div>
            <div class="form-group" ng-init="vm.currencyInput.showDecimalsTypes = [
                {'value': true, 'label': 'True'},
                {'value': false, 'label': 'False'},
                ]; vm.currencyInput.showDecimals = true;">
                <label class="control-label">
                    Show decimals?
                </label>
                <tw-select
                    options="vm.currencyInput.showDecimalsTypes"
                    ng-model="vm.currencyInput.showDecimals">
                </tw-select>
            </div>
            <div class="form-group" ng-init="vm.currencyInput.sizes = [
                {'value': 'sm', 'label': 'Small'},
                {'value': 'md', 'label': 'Medium'},
                {'value': 'lg', 'label': 'Large'}
                ]; vm.currencyInput.size = 'md';">
                <label class="control-label">
                    Size
                </label>
                <tw-select
                    options="vm.currencyInput.sizes"
                    ng-model="vm.currencyInput.size">
                </tw-select>
            </div>
        </div>
    </div>
</div>
</form>
