<h4 id="cards">Cards</h4>
<p>These are cards that have information about an activity and provide
    more detail when they're expanded.</p>
<p>They expand differently on mobile</p>
<hr />

<tw-cards>
    <tw-card
        form="false"
        state="danger"
        enlarged="true"
    >
        <card-icon>T</card-icon>
        <collapsed>
            <collapse-example>
                <middle>
                    <p class="list-group-item-heading text-max-width hidden-xs">
                        <span>Transfer<span class="visible-xl-inline h5"> £10.00 </span>from</span>
                        <strong >Mike Marter</strong>
                    </p>
                    <p class="small m-b-0 text-max-width list-group-item-text">
                        We received your money. There was a problem with your documents.
                    </p>
                </middle>
                <right>
                    <p class="m-y-0 h5">
                        <span class="sr-only">Sent</span>£10.00<span class="hidden-xs"> GBP</span>
                    </p>
                    <p class="m-y-0 small">
                        <span class="sr-only">Received</span> exactly $12.34 
                        <span class="hidden-xs">USD</span>
                    </p>
                </right>
            </collapse-example>
        </collapsed>
        <expanded>
            <expand-example>
                <heading>We received your money. There was a problem with your documents.</heading>
                <middle>
                    <ul class="sequence sequence-hollow sequence-pulse m-l-1 sequence-danger">
                        <li><p class="small p-b-1">You set up a transfer to TransferWise</p></li>
                        <li class="active">
                            <p class="m-b-1 text-danger">The money is on it's way to TransferWise</p>
                            <p class="small p-b-1">Although you have instructed your bank to us the money, it will take
                                several hours for them to process the transfer and pay out.  We cannot
                                process the transfer until it arrives in our account.</p>
                        </li>
                        <li><p class="small p-b-1">We receive the money and transfer it to Steve Pole</p></li>
                        <li><p class="small p-b-1">Steve Pole's bank process the transfer</p></li>
                        <li><p class="small p-b-1">The money appears in Steve Pole's account.</p></li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3 m-b-0">
                            <a href="/examples/details.html">View details</a>
                        </div>
                    </div>
                </middle>
                <buttons>
                    <button class="btn btn-primary ">Fix this transfer</button>
                    <button class="btn btn-danger pull-md-right m-b-0">Cancel transfer</button>
                </buttons>
            </expand-example>
        </expanded>
    </tw-card>
    <tw-card
        state="info"
        form="false"
        enlarged="true"
    >
        <card-icon>S</card-icon>
        <collapsed>
            <collapse-example>
                <middle>
                    <p class="list-group-item-heading text-max-width hidden-xs">   
                        Transfer to <strong>Steve Pole</strong>
                    </p>
                    <p class="small m-b-0 text-max-width list-group-item-text">
                        We received your money. We're processing your transfer.
                    </p>
                </middle>
                <right>
                    <p class="m-y-0 small">
                        <span class="sr-only">Sent</span> £10.00 
                        <span class="hidden-xs">GBP</span>
                    </p>
                    <p class="m-y-0 h5">
                        <span class="sr-only">Received</span> $12.34 
                        <span class="hidden-xs">USD</span>
                    </p>
                </right>
            </collapse-example>
        </collapsed>
        <expanded>
            <expanded-example>
                <heading>We received your money. We're processing your transfer.</heading>
                <middle>
                    <ul class="sequence sequence-hollow sequence-pulse m-l-1 sequence-info">
                        <li><p class="small p-b-1">You set up a transfer to TransferWise</p></li>
                        <li class="active">
                            <p class="m-b-1 text-info">The money is on it's way to TransferWise</p>
                            <p class="small p-b-1">Although you have instructed your bank to us the money, it will take
                                several hours for them to process the transfer and pay out. We cannot
                                process the transfer until it arrives in our account.</p>
                        </li>
                        <li><p class="small p-b-1">We receive the money and transfer it to Steve Pole</p></li>
                        <li><p class="small p-b-1">Steve Pole's bank process the transfer</p></li>
                        <li><p class="small p-b-1">The money appears in Steve Pole's account.</p></li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3 m-b-0">
                            <a href="/examples/details.html">View details</a>
                        </div>
                    </div>
                </middle>
                <buttons>
                    <button class="btn btn-danger pull-md-right m-b-0">Cancel transfer</button>
                </buttons>
            </expanded-example>
        </expanded>
    </tw-card>
    <tw-card
        state="warning"
        form="false"
    >
        <card-icon>U</card-icon>
        <collapsed>
            <collapse-example>
                <middle>
                    <p class="list-group-item-heading text-max-width">
                        <span class="hidden-xs">Transfer to</span>
                        <strong> Mike Marter</strong>
                    </p>
                    <p class="small m-b-0 text-max-width list-group-item-text">
                        Waiting for you to pay in.
                    </p>
                </middle>
                <right>
                    <p class="m-y-0  h5">
                        <span class="sr-only">Sent</span> £10.00 <span class="hidden-xs ">GBP</span>
                    </p>
                    <p class="m-y-0 small">
                        <span class="sr-only">Received</span> about
                         $12.34 <span class="hidden-xs ">USD</span>
                    </p>
                </right>
            </collapse-example>
        </collapsed>
        <expanded>
            <expanded-example>
                <heading>Waiting for you to pay in.</heading>
                <middle>
                    <ul class="sequence sequence-hollow sequence-pulse m-l-1 sequence-warning">
                        <li><p class="small p-b-1">You set up a transfer to TransferWise</p></li>
                        <li class="active">
                            <p class=" m-b-1">The money is on it's way to TransferWise</p>
                            <p class="small p-b-1">Although you have instructed your bank to us the money, it will take
                                several hours for them to process the transfer and pay out. We cannot
                                process the transfer until it arrives in our account.</p>
                        </li>
                        <li><p class="small p-b-1 ">We receive the money and transfer it to Mike Marter</p></li>
                        <li><p class="small p-b-1 ">Mike Marter's bank process the transfer</p></li>
                        <li><p class="small p-b-1 ">The money appears in Mike Marter's account.</p></li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3 m-b-0">
                            <a href="/examples/details.html">View details</a>
                        </div>
                    </div>
                </middle>
                <buttons>
                    <button class="btn btn-primary ">Pay for this transfer</button>
                    <button class="btn btn-primary ">I've already paid</button>
                    <button class="btn btn-danger pull-md-right m-b-0">Cancel transfer</button>
                </buttons>
            </expanded-example>
        </expanded>
    </tw-card>
</tw-cards>
<br>
<h5>Inactive Cards</h5>
<br>
<tw-cards inactive="true">
    <tw-card
        form="true"
        state="none"
    >
        <card-icon>V</card-icon>
        <collapsed>
            <collapse-example>
                <middle>
                    <p class="list-group-item-heading text-max-width">
                        <span class="hidden-xs">Transfer to </span>
                        <strong>Peet's coffee</strong>
                    </p>
                    <p class="small m-b-0 text-max-width list-group-item-text" title="01 July 2016 1:34 PM">
                        Completed 01 July 2016
                    </p>
                </middle>
                <right>
                    <p class="m-y-0 h5">
                        <span class="sr-only">Sent</span> £2.50 <span class="hidden-xs ">GBP</span>
                    </p>
                    <p class="m-y-0 small">
                        <span class="sr-only">Received</span> £2.50 <span class="hidden-xs ">GBP</span>
                    </p>
                </right>
            </collapse-example>
        </collapsed>
        <expanded>
            <expanded-example>
                <middle>
                    <div class="m-t-1 m-b-3 visible-xs-block visible-sm-block">
                        <p class="h2 m-b-0 list-group-item-text" title="01 July 2016 1:34 PM">
                            Completed 01 July 2016
                        </p>
                    </div>
                    <div>
                        <div class="row">
                            <dl class="col-sm-6">
                                <dt>Sent to</dt>
                                <dd>Merchant account</dd>
                            </dl>
                            <dl class="col-sm-6">
                                <dt>Reference</dt>
                                <dd>Ref123</dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="col-sm-6">
                                <dt>Exchange rate</dt>
                                <dd>1.0000</dd>
                            </dl>
                            <dl class="col-sm-6">
                                <dt>Fee</dt>
                                <dd>0.00 GBP</dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="col-sm-6">
                                <dt>Transfer number</dt>
                                <dd>123456789</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3 m-b-0">
                            <a href="/examples/details.html">View details</a>
                        </div>
                    </div>
                </middle>
            </expanded-example>
        </expanded>
        <card-form>
            <form-example></form-example>
        </card-form>
    </tw-card>
    <tw-card
        state="none"
        form="true"
    >
        <card-icon>W</card-icon>
        <collapsed>
            <collapse-example>
                <middle>
                    <p class="list-group-item-heading text-max-width">
                        <span class="hidden-xs">Reward payment to your </span>
                        <strong>GBP balance</strong>
                    </p>
                    <p class="small m-b-0 text-max-width list-group-item-text" title="01 April 2016 1:34 PM">
                        Completed 01 April 2016
                    </p>
                </middle>
                <right>
                    <p class="m-y-0  h5">
                        <span class="sr-only">Sent</span> £10.00 <span class="hidden-xs ">GBP</span>
                    </p>
                    <p class="m-y-0  small">
                        <span class="sr-only">Received</span> £10.00 <span class="hidden-xs ">GBP</span>
                    </p>
                </right>
            </collapse-example>
        </collapsed>
        <expanded>
            <expanded-example>
                <middle>
                    <div class="m-t-1 m-b-3 visible-xs-block visible-sm-block">
                        <p class="h2 m-b-0 list-group-item-text" title="01 April 2016 1:34 PM">
                            Completed 01 April 2016
                        </p>
                    </div>
                    <div>
                        <div class="row">
                            <dl class="col-sm-6">
                                <dt>Sent to</dt>
                                <dd>GBP balance</dd>
                            </dl>
                            <dl class="col-sm-6">
                                <dt>Reference</dt>
                                <dd>Referral Bonus</dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="col-sm-6">
                                <dt>Exchange rate</dt>
                                <dd>1.0000</dd>
                            </dl>
                            <dl class="col-sm-6">
                                <dt>Fee</dt>
                                <dd>0.00 GBP</dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="col-sm-6">
                                <dt>Transfer number</dt>
                                <dd>123456789</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3 m-b-0">
                            <a href="/examples/details.html">View details</a>
                        </div>
                    </div>
                </middle>
            </expanded-example>
        </expanded>
        <card-form>
            <form-example></form-example>
        </card-form>
    </tw-card>
    <tw-card
        state="none"
        form="true"
        disabled="true"
    >
        <card-icon>X</card-icon>
        <collapsed>
            <collapse-example>
                <middle>
                    <p class="list-group-item-heading text-max-width">
                        <span class="hidden-xs">Transfer to</span>
                        <strong>Steve Pole</strong>
                    </p>
                    <p class="small m-b-0 text-max-width list-group-item-text" title="10 June 2016 1:34 PM">
                        Cancelled 10 June 2016
                    </p>
                </middle>
                <right>
                    <p class="m-y-0  h5">
                        <span class="sr-only">Sent</span>£10,000,000.00<span class="hidden-xs ">GBP</span>
                    </p>
                    <p class="m-y-0  small">
                        <span class="sr-only">Received</span>€11,987,000.00<span class="hidden-xs ">GBP</span>
                    </p>
                </right>
            </collapse-example>
        </collapsed>
        <expanded>
            <expanded-example>
                <middle>
                    <div class="m-t-1 m-b-3 visible-xs-block visible-sm-block">
                        <p class="h2 m-b-0 list-group-item-text" title="10 June 2016 1:34 PM">
                            Cancelled 10 June 2016
                        </p>
                    </div>
                    <div>
                        <div class="row">
                            <dl class="col-sm-6">
                                <dt>Sent to</dt>
                                <dd>Account ending 1234</dd>
                            </dl>
                            <dl class="col-sm-6">
                                <dt>Reference</dt>
                                <dd>NewHouse</dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="col-sm-6">
                                <dt>Exchange rate</dt>
                                <dd>1.1987</dd>
                            </dl>
                            <dl class="col-sm-6">
                                <dt>Fee</dt>
                                <dd>500.00 GBP</dd>
                            </dl>
                        </div>
                        <div class="row">
                            <dl class="col-sm-6">
                                <dt>Transfer number</dt>
                                <dd>123456789</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3 m-b-0">
                            <a href="/examples/details.html">View details</a>
                        </div>
                    </div>
                </middle>
            </expanded-example>
        </expanded>
        <card-form>
            <form-example></form-example>
        </card-form>
    </tw-card>
</tw-cards>