<h4 id="date">TW Date</h4>
<p>Two way data binding via ng-model, with either a javascript Date object or
	an ISO8601 String date: 1994-11-05T08:15:30-05:00</p>
<hr/>
<form>
<div class="row m-b-3">
	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label" for="date">
				Example date control
			</label>
			<tw-date name="date" tw-validation
				ng-model="vm.model.components.date"
				ng-required="vm.date.required"
				ng-disabled="vm.date.disabled"
				ng-change="vm.log('date change')"
				locale="{{vm.date.locale}}"
				min="1990-01-01"
				max="2015-12-31" />
			<div class="error-messages">
				<div class="error-required">Required</div>
				<div class="error-min">Too early</div>
				<div class="error-max">Too late</div>
			</div>
			<status-messages></status-messages>
		</div>
		<h5>Configuration</h5>
<pre>&lt;tw-date
  ng-model="{{vm.model.components.date}}"
  ng-required="{{vm.date.required}}"
  ng-disabled="{{vm.date.disabled}}"
  locale="{{vm.date.locale}}"
  min="1990-01-01"
  max="2015-12-31"
  ng-change="..."
  tw-validation /&gt;</pre>
	</div>
	<div class="col-md-6">
		<div class="well">
			<h5 class="page-header">
				Edit configuration
			</h5>
			<div class="form-group">
				<label class="control-label">
					Required?
				</label>
				<div class="checkbox">
					<label>
						<tw-checkbox ng-model="vm.date.required" />
						Is the control required?
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">
					Disabled?
				</label>
				<div class="checkbox">
					<label>
						<tw-checkbox ng-model="vm.date.disabled" />
						Is the control disabled?
					</label>
				</div>
			</div>
			<div class="form-group" ng-init="vm.date.locales = [
				{'value': 'en-GB', 'label': 'English UK'},
				{'value': 'en-US', 'label': 'English US'},
				{'value': 'fr-FR', 'label': 'French'},
				{'value': 'es-ES', 'label': 'Spanish'},
				{'value': 'es-US', 'label': 'Spanish US'},
				{'value': 'ss-SS', 'label': 'Unknown locale'}
			]; vm.date.locale = 'en-GB';">
				<label class="control-label">
					Locale
				</label>
				<tw-select
					options="vm.date.locales"
					ng-model="vm.date.locale"
					ng-init="vm.date.locale = 'en-GB'" />
			</div>
			<input type="submit" class="btn btn-primary btn-block" value="Submit form" />
		</div>
	</div>
</div>
</form>
