<h4 id="expandable-cards">Expandable Cards</h4>
<p>These are cards that have information about an activity and provide
	more detail when they're expanded.</p>
<p>They expand differently on mobile</p>
<hr />

<tw-expandable-cards>
	<tw-expandable-card>
    	This transfer was successful.
   	</tw-expandable-card>
   	<tw-expandable-card>
    	This transfer is waiting for payment.
	</tw-expandable-card>
   	<tw-expandable-card>
    	This transfer failed.
	</tw-expandable-card>
</tw-expandable-cards>