<h4 id="presentation-pattern">TW Presentation Pattern</h4>
<p><code>tw-presentation-pattern</code> is a simple attribute based directive
  that formats test entered into controls.</p>
<hr />
<div class="m-b-3">
  <div class="form-group">
    <label class="control-label">Presentation pattern</label>
    <input type="text" class="form-control"
      ng-model="vm.model.presentationPattern"
      ng-minlength="5"
      ng-maxlength="9"
      tw-focusable
      tw-validation
      tw-presentation-pattern="2-3-4"
      tw-presentation-separator="-" />
    <docs-error-messages></docs-error-messages>
  </div>
  <div class="btn-toolbar m-b-2">
    <button class="btn btn-default"
      ng-click="vm.model.presentationPattern = '123456789'">
      Set to '123456789'
    </button>
    <button class="btn btn-default"
      ng-click="vm.model.presentationPattern = '1234567890'">
      Set to '1234567890'
    </button>
  </div>
<pre>
&lt;input type="text"
  class="form-control"
  ng-model="{{vm.model.presentationPattern}}"
  ng-minlength="5"
  ng-maxlength="9"
  tw-presentation-pattern="2-3-4"
  tw-presentation-separator="-"
  tw-validation
  tw-focusable /&gt;
</pre>

</div>
<hr class="m-b-5" />
