<h4 id="popover">TW Popover</h4>
<p><code>tw-popover</code> is an attribute based directive that enables a
	floating description to be revealed when an element is <strong>clicked</strong>
	or <strong>focused</strong>.  It is configured through data attributes.</p>

<p class="text-danger">tw-popover requires bootstrap.js</p>

<hr />

<div>
	<a tw-popover
		title="Popover title"
		data-toggle="popover"
		data-placement="top"
		data-content="Full description copy, explaining in more detail"
		role="button"
		tabindex="0">
		Simple text
	</a>
	-
	<a tw-popover
		title="Injected into .popover-title"
		data-toggle="popover"
		data-placement="bottom"
		data-content="Injected into .popover-content"
		data-template="<div class='popover' role='tooltip'><div class='arrow'></div><h3 class='popover-title'></h3><div class='popover-content'></div><a href=''>Custom Link</a></div>"
		role="button"
		tabindex="0">
		Custom template
	</a>
<pre>
&lt;a tw-popover
  title="Popover title"
  data-toggle="popover"
  data-placement="top"
  data-content="Full description copy, explaining in more detail"
  role="button"
  tabindex="0"&gt;
  Link text
&lt;/a&gt;

&lt;a tw-popover
  title="Injected into .popover-title"
  data-toggle="popover"
  data-placement="bottom"
  data-content="Injected into .popover-content"
  data-template="&lt;div class='popover' role='tooltip'&gt;&lt;div class='arrow'&gt;&lt;/div&gt;&lt;h3 class='popover-title'&gt;&lt;/h3&gt;&lt;div class='popover-content'&gt;&lt;/div&gt;&lt;a href=''&gt;Custom Link&lt;/a&gt;&lt;/div&gt;"
  role="button"
  tabindex="0"&gt;
  Custom template
&lt;/a&gt;
</pre>

</div>

<hr />
