<h4 id="presentation-pattern">TW Presentation Pattern</h4>
<p><code>tw-presentation-pattern</code> is a simple attribute based directive
  that formats text entered into controls.  The model value is preserved without
  formatting, and validation continues to function on the unformated value.</p>
<hr />
<div class="m-b-3">
  <div class="form-group">
    <label class="control-label">Presentation pattern</label>
    <input type="text" class="form-control"
      ng-model="$ctrl.model"
      ng-minlength="5"
      ng-maxlength="9"
      ng-required="true"
      tw-focusable
      tw-validation
      tw-presentation-pattern="{{$ctrl.pattern}}" />
    <docs-error-messages></docs-error-messages>
  </div>
  <div class="btn-toolbar m-b-2">
    <button class="btn btn-default"
      ng-click="$ctrl.model = '123456789'">
      Set to '123456789'
    </button>
    <button class="btn btn-default"
      ng-click="$ctrl.model = '1234567890'">
      Set to '1234567890'
    </button>
  </div>
<pre>
&lt;input type="text"
  class="form-control"
  ng-model="{{$ctrl.model}}"
  ng-minlength="5"
  ng-maxlength="9"
  ng-required="true"
  tw-presentation-pattern="{{$ctrl.pattern}}"
  tw-validation
  tw-focusable /&gt;
</pre>
<div class="form-group">
  <label class="control-label">Pattern</label>
  <tw-select options="$ctrl.patterns"
    ng-model="$ctrl.pattern"
    ng-change="$ctrl.model = ''"></tw-select>
</div>

{{$ctrl.model | twPresentationPattern:$ctrl.pattern }}
<pre>
<code ng-non-bindable>{{</code> "{{$ctrl.model}}" | twPresentationPattern : "{{$ctrl.pattern}}" <code ng-non-bindable>}}</code>
</pre>
</div>
<hr class="m-b-5" />
