<h4 id="select">TW Select</h4>
<p>Styled select box replacement, supporting the majority of the
	standard HTML interface for a select.  The select box
	has full keyboard support matching native behaviour.</p>
<p>The select box also maintains a hidden form input with the
	given name to be compatible with HTML form posts.</p>

<p class="alert alert-info">The select component depends
	on dropwdown.js from Bootstrap.</p>
<hr/>
<form>
<div class="row m-b-3">
	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label" for="date">
				Example select
			</label>
			<tw-select tw-validation ng-if="!vm.select.extraLink"
				name="mySelect"
				placeholder="{{vm.select.empty}}"
				ng-model="vm.model.components.select"
				ng-change="vm.log('select change')"
				ng-required="vm.select.required"
				ng-disabled="vm.select.disabled"
				ng-focus="vm.log('select focus')"
				ng-blur="vm.log('select blur')"
				options="vm.select.options[vm.select.type]" />
			<tw-select tw-validation ng-if="vm.select.extraLink"
				name="mySelect"
				placeholder="{{vm.select.empty}}"
				ng-model="vm.model.components.select"
				ng-change="vm.log('select change')"
				ng-required="vm.select.required"
				ng-disabled="vm.select.disabled"
				ng-focus="vm.log('select focus')"
				ng-blur="vm.log('select blur')"
				options="vm.select.options[vm.select.type]">
				<a href="" ng-click="vm.log('click')">
					Custom action
				</a>
			</tw-select>
			<div class="error-messages">
				<div class="error-required">Required</div>
			</div>
			<status-messages></status-messages>
		</div>
		<h5>Configuration</h5>
<pre>&lt;tw-select
  name="mySelect"
  placeholder="{{vm.select.empty}}"
  ng-model="vm.components.select"
  ng-required="{{vm.select.required}}"
  ng-disabled="{{vm.select.disabled}}"
  ng-change="..."
  ng-focus="..."
  ng-blur="..."
  options="{{vm.select.options[vm.select.type] | json}}"
  tw-validation<span ng-if="!vm.select.extraLink"> /&gt;</span><span ng-if="vm.select.extraLink">&gt;
    &lt;a href='' ng-click='...'&gt;
      Custom action
    &lt;/a&gt;
  &lt;/tw-select&gt;</span>
</pre>
	</div>
	<div class="col-md-6">
		<div class="well">
			<h5 class="page-header">
				Edit configuration
			</h5>
			<div class="form-group">
				<label class="control-label">
					Required?
				</label>
				<div class="checkbox">
					<label>
						<tw-checkbox ng-model="vm.select.required" />
						Is the control required?
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">
					Disabled?
				</label>
				<div class="checkbox">
					<label>
						<tw-checkbox ng-model="vm.select.disabled" />
						Is the control disabled?
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">
					Empty value
				</label>
				<input class="form-control"
					ng-model="vm.select.empty" />
			</div>
			<div class="form-group">
				<label class="control-label">
					Type
				</label>
				<tw-select options="vm.select.types" ng-model="vm.select.type" />
			</div>
			<div class="form-group">
				<label class="control-label">
					Additional link?
				</label>
				<div class="checkbox">
					<label>
						<tw-checkbox ng-model="vm.select.extraLink" />
						Option with custom action?
					</label>
				</div>
			</div>
			<input type="submit" class="btn btn-primary btn-block" value="Submit form" />
		</div>
	</div>
</div>
</form>
