<h4 id="select">TW Select</h4>
<p>Styled select box replacement, supporting the majority of the
	standard HTML interface for a select.  The select box
	has full keyboard support matching native behaviour.</p>
<p>The select box also maintains a hidden form input with the
	given name to be compatible with HTML form posts.</p>

<p class="alert alert-info">The select component depends
	on dropwdown.js from Bootstrap.</p>
<hr/>
<form>
<div class="row m-b-3">
	<div class="col-md-6">
		<div class="form-group">
			<label class="control-label" for="date">
				Example select
			</label>
			<tw-select tw-validation ng-if="!vm.select.extraLink"
				name="mySelect"
				placeholder="{{vm.select.empty}}"
				ng-model="vm.model.components.select"
				ng-change="vm.log('select change, val: '+vm.model.components.select)"
				ng-required="vm.select.required"
				ng-disabled="vm.select.disabled"
				ng-focus="vm.log('select focus')"
				ng-blur="vm.log('select blur')"
				options="vm.select.options[vm.select.type]"
				filter="{{vm.select.showFilter}}"
				config="vm.select.config" />
			<tw-select tw-validation ng-if="vm.select.extraLink"
				name="mySelect"
				placeholder="{{vm.select.empty}}"
				ng-model="vm.model.components.select"
				ng-change="vm.log('select change, val: '+vm.model.components.select)"
				ng-required="vm.select.required"
				ng-disabled="vm.select.disabled"
				ng-focus="vm.log('select focus')"
				ng-blur="vm.log('select blur')"
				options="vm.select.options[vm.select.type]"
				filter="{{vm.select.showFilter}}"
				config="vm.select.config">
				<a href="" ng-click="vm.log('click')">
					Custom action
				</a>
			</tw-select>


			<div class="error-messages">
				<div class="error-required">Required</div>
			</div>
			<status-messages></status-messages>
		</div>
		<div class="form-group">
			<div class="input-group" ng-class="{'input-group-lg': vm.select.config.size === 'lg'}">
				<input type="text" class="form-control">
				<span class="input-group-btn">
					<tw-select tw-validation
						name="mySelect"
						placeholder="{{vm.select.empty}}"
						ng-model="vm.model.components.select"
						ng-change="vm.log('select change, val: '+vm.model.components.select)"
						ng-required="vm.select.required"
						ng-disabled="vm.select.disabled"
						ng-focus="vm.log('select focus')"
						ng-blur="vm.log('select blur')"
						options="vm.select.options[vm.select.type]"
						filter="{{vm.select.showFilter}}"
						config="vm.select.config">
					</tw-select>
				</span>
			</div>
		</div>
		<div class="form-inline visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block visible-xl-inline-block">
			<tw-select tw-validation
				name="mySelect"
				placeholder="{{vm.select.empty}}"
				ng-model="vm.model.components.select"
				ng-change="vm.log('select change, val: '+vm.model.components.select)"
				ng-required="vm.select.required"
				ng-disabled="vm.select.disabled"
				ng-focus="vm.log('select focus')"
				ng-blur="vm.log('select blur')"
				options="vm.select.options[vm.select.type]"
				filter="{{vm.select.showFilter}}"
				config="vm.select.config">
			</tw-select>
		</div>

		<h5>Configuration</h5>
<pre>&lt;tw-select
  name="mySelect"
  placeholder="{{vm.select.empty}}"<span ng-if="vm.select.showFilter">
  filter="Search..."</span>
  ng-model="{{vm.model.components.select}}"
  ng-required="{{vm.select.required}}"
  ng-disabled="{{vm.select.disabled}}"
  ng-change="..."
  ng-focus="..."
  ng-blur="..."
  config="{{vm.select.config | json}}"
  options="{{vm.select.options[vm.select.type] | json}}"
  tw-validation<span ng-if="!vm.select.extraLink"> /&gt;</span><span ng-if="vm.select.extraLink">&gt;
    &lt;a href='' ng-click='...'&gt;
      Custom action
    &lt;/a&gt;
  &lt;/tw-select&gt;</span>
</pre>
	</div>
	<div class="col-md-6">
		<div class="well">
			<h5 class="page-header">
				Edit configuration
			</h5>
			<div class="form-group">
				<label class="control-label">
					Required?
				</label>
				<div class="checkbox">
					<label>
						<tw-checkbox ng-model="vm.select.required" />
						Is the control required?
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">
					Disabled?
				</label>
				<div class="checkbox">
					<label>
						<tw-checkbox ng-model="vm.select.disabled" />
						Is the control disabled?
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">
					Empty value
				</label>
				<input class="form-control"
					ng-model="vm.select.empty" />
			</div>
			<div class="form-group" ng-init="vm.select.type = 'currencies'">
				<label class="control-label">
					Type
				</label>
				<tw-select options="vm.select.types" ng-model="vm.select.type" />
			</div>
			<div class="form-group">
				<label class="control-label">
					Show filter?
				</label>
				<div class="checkbox">
					<label>
						<tw-checkbox
							ng-model="vm.select.showFilter"
							ng-true-value="'Search...'"
							ng-false-value="false" />
						Allow user to filter list?
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">
					Additional link?
				</label>
				<div class="checkbox">
					<label>
						<tw-checkbox ng-model="vm.select.extraLink" />
						Option with custom action?
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">
					Config
				</label>
				<div class="checkbox">
					<label>
						<tw-checkbox ng-model="vm.select.config.inverse" />
						Invert the colours?
					</label>
				</div>
				<div class="checkbox">
					<label>
						<tw-checkbox ng-model="vm.select.config.hideNote" />
						Hide selected note?
					</label>
				</div>
				<div class="checkbox">
					<label>
						<tw-checkbox ng-model="vm.select.config.hideSecondary" />
						Hide selected secondary text?
					</label>
				</div>
				<div class="checkbox">
					<label>
						<tw-checkbox ng-model="vm.select.config.hideCurrency" />
						Hide selected currency flag?
					</label>
				</div>
				<div class="checkbox">
					<label>
						<tw-checkbox ng-model="vm.select.config.hideCircle" />
						Hide selected circle?
					</label>
				</div>
				<div class="checkbox">
					<tw-select
						placeholder="Button size..."
						ng-model="vm.select.config.size"
					 	options="[{value: 'sm', label: 'Small button'},{value: 'md', label: 'Medium button'},{value: 'lg', label: 'Large button'}]"/></tw-select>
				</div>
				<div class="checkbox">
					<tw-select
						placeholder="Dropdown width..."
						ng-model="vm.select.config.dropdownWidth"
					 	options="[{value: 'sm', label: 'Small dropdown'},{value: 'md', label: 'Medium dropdown'},{value: 'lg', label: 'Large dropdown'}]"/></tw-select>
				</div>
				<div class="checkbox">
					<tw-select
						placeholder="Dropdown on right..."
						ng-model="vm.select.config.dropdownRight"
					 	options="[{value: 'xs', label: 'XSmall grids and wider'},{value: 'sm', label: 'Small grids and wider'},{value: 'md', label: 'Medium grids and wider'},{value: 'lg', label: 'Large grids and wider'},{value: 'xl', label: 'XLarge grids and wider'}]"/></tw-select>
				</div>
			</div>
			<input type="submit" class="btn btn-primary btn-block" value="Submit form" />
		</div>
	</div>
</div>
</form>
