<one-of-schema
  ng-if="$ctrl.schema.oneOf"
  model="$ctrl.model"
  schema="$ctrl.schema"
  errors="$ctrl.errors"
  locale="$ctrl.locale"
  translations="$ctrl.translations"
  on-change="$ctrl.onModelChange(model)"
  on-refresh="$ctrl.onRefreshRequirements(model)">
</one-of-schema>

<all-of-schema
  ng-if="$ctrl.schema.allOf"
  model="$ctrl.model"
  schema="$ctrl.schema"
  errors="$ctrl.errors"
  locale="$ctrl.locale"
  translations="$ctrl.translations"
  on-change="$ctrl.onModelChange(model)"
  on-refresh="$ctrl.onRefreshRequirements(model)">
</all-of-schema>

<basic-type-schema
  ng-if="$ctrl.schema.type && ($ctrl.schema.type !== 'object' && $ctrl.schema.type !== 'array')"
  model="$ctrl.model"
  schema="$ctrl.schema"
  errors="$ctrl.errors"
  locale="$ctrl.locale"
  translations="$ctrl.translations"
  required="$ctrl.required"
  on-change="$ctrl.onModelChange(model)"
  on-refresh="$ctrl.onRefreshRequirements(model)">
</basic-type-schema>

<object-schema
  ng-if="$ctrl.schema.type === 'object'"
  model="$ctrl.model"
  schema="$ctrl.schema"
  errors="$ctrl.errors"
  locale="$ctrl.locale"
  translations="$ctrl.translations"
  on-change="$ctrl.onModelChange(model)"
  hide-title="$ctrl.hideTitle"
  on-refresh="$ctrl.onRefreshRequirements(model)">
</object-schema>

<array-schema
  ng-if="$ctrl.schema.type === 'array'"
  model="$ctrl.model"
  schema="$ctrl.schema"
  errors="$ctrl.errors"
  locale="$ctrl.locale"
  translations="$ctrl.translations"
  on-change="$ctrl.onModelChange(model)"
  on-refresh="$ctrl.onRefreshRequirements(model)">
</array-schema>


<!--
<div ng-if="$ctrl.schema.type" ng-switch="$ctrl.schema.type">

  <number-schema
    ng-switch-when="number"
    schema="$ctrl.schema"
    errors="$ctrl.errors"
    on-change="$ctrl.onChange"
    on-refresh="">
  </number-schema>

  <boolean-schema
    ng-switch-when="boolean"
    schema="$ctrl.schema"
    errors="$ctrl.errors"
    on-change="$ctrl.onChange"
    on-refresh="">
  </boolean-schema>

  <object-schema
    ng-switch-when="object"
    schema="$ctrl.schema"
    errors="$ctrl.errors"
    on-change="$ctrl.onChange"
    on-refresh="">
  </object-schema>

  <array-schema
    ng-switch-when="array"
    schema="$ctrl.schema"
    errors="$ctrl.errors"
    on-change="$ctrl.onChange"
    on-refresh="">
  </array-schema>

  <string-schema
    ng-switch-else="array"
    schema="$ctrl.schema"
    errors="$ctrl.errors"
    on-change="$ctrl.onChange"
    on-refresh="">
  </string-schema>
</div> -->
