{
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
  },
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [

  ],
  "rules": {
    "no-use-before-define": "off",
    "comma-dangle": "off",
    "import/extensions": "off",

    "no-param-reassign": "off",
    "no-plusplus": "off",
    "prefer-destructuring": "off",

    "operator-linebreak": "off",
    "import/no-useless-path-segments": "off",
    "implicit-arrow-linebreak": "off",
    "no-else-return": "off",
    "import/named": "off"
  }
}
