<div class="row" ng-form="SortCodeForm">
	<div class="col-xs-4"
		ng-class="{
			'has-error': SortCodeForm.firstTwo.$touched && SortCodeForm.firstTwo.$invalid
		}">
		<label class="sr-only" for="firstTwo-{{::uniqueId}}">First 2 digits</label>
		<input type="text"
			name="firstTwo"
			id="firstTwo-{{::uniqueId}}"
			class="form-control"
			ng-model="vm.firstTwo"
			ng-change="vm.updateSortCode()"
			placeholder="12"
			ng-pattern="vm.shortPattern"
			ng-disabled="vm.disabled"
			ng-required="vm.required"
			autocomplete="off" />
	</div>
	<div class="col-xs-4"
		ng-class="{
			'has-error': SortCodeForm.secondTwo.$touched && SortCodeForm.secondTwo.$invalid
		}">
		<label class="sr-only" for="secondTwo-{{::uniqueId}}">Middle 2 digits</label>
		<input type="text"
			name="secondTwo"
			id="secondTwo-{{::uniqueId}}"
			class="form-control"
			ng-model="vm.secondTwo"
			ng-change="vm.updateSortCode()"
			placeholder="34"
			ng-pattern="vm.shortPattern"
			ng-disabled="vm.disabled"
			ng-required="vm.required"
			autocomplete="off" />
	</div>
	<div class="col-xs-4"
		ng-class="{
			'has-error': SortCodeForm.thirdTwo.$touched && SortCodeForm.thirdTwo.$invalid
		}">
		<label class="sr-only" for="thirdTwo-{{::uniqueId}}">Final 2 digits</label>
		<input type="text"
			name="thirdTwo"
			id="thirdTwo-{{::uniqueId}}"
			class="form-control"
			ng-model="vm.thirdTwo"
			ng-change="vm.updateSortCode()"
			placeholder="56"
			ng-pattern="vm.shortPattern"
			ng-disabled="vm.disabled"
			ng-required="vm.required"
			autocomplete="off" />
	</div>
</div>
