<h4 id="amount-currency-select">Amount Currency Select</h4>
<p>Two way data binding via ng-model</p>
<form>
  <div class="row m-b-3">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label">How much?</label>
        <tw-amount-currency-select tw-validation
          ng-model="$ctrl.model"
          ng-required="$ctrl.amountCurrencySelect.required"
          ng-disabled="$ctrl.amountCurrencySelect.disabled"
          ng-min="$ctrl.amountCurrencySelect.min"
          ng-max="$ctrl.amountCurrencySelect.max"
          ng-change="$ctrl.log('amount input value changed:' + $ctrl.model)"

          placeholder="{{ $ctrl.amountCurrencySelect.placeholder }}"

          currency="$ctrl.currency"
          on-currency-change="$ctrl.log('currency input value changed:' + $ctrl.currency)"

          currencies="$ctrl.currencySelect"
          currency-filter-placeholder="{{ $ctrl.amountCurrencySelect.currencyFilterPlaceholder }}"

          custom-action-label="$ctrl.amountCurrencySelect.customActionLabel"
          on-custom-action="$ctrl.log('Custom Action Called')"

          locked="$ctrl.amountCurrencySelect.locked"
          on-locked-change="$ctrl.log('Locked changed: ' + $ctrl.amountCurrencySelect.locked)"
          show-lock="$ctrl.amountCurrencySelect.showLock"

          lock-tooltip-title="$ctrl.amountCurrencySelect.lockTooltipTitle"
          lock-tooltip-content="$ctrl.amountCurrencySelect.lockTooltipContent"

          size="{{ $ctrl.amountCurrencySelect.size }}">
        </tw-amount-currency-select>
        <div class="error-messages">
          <div class="error-required">Required</div>
          <div class="error-min">Must be higher</div>
          <div class="error-max">Must be lower</div>
        </div>
      </div>

      <div class="form-group form-group-lg">
        <label class="control-label">How much?</label>
        <tw-amount-currency-select tw-validation
          ng-model="$ctrl.model"
          ng-required="$ctrl.amountCurrencySelect.required"
          ng-disabled="$ctrl.amountCurrencySelect.disabled"
          ng-min="$ctrl.amountCurrencySelect.min"
          ng-max="$ctrl.amountCurrencySelect.max"
          ng-change="$ctrl.log('amount input value changed:' + $ctrl.model)"

          placeholder="{{ $ctrl.amountCurrencySelect.placeholder }}"

          currency="$ctrl.currency"
          on-currency-change="$ctrl.log('currency input value changed:' + $ctrl.currency)"

          currencies="$ctrl.currencySelect"
          currency-filter-placeholder="{{ $ctrl.amountCurrencySelect.currencyFilterPlaceholder }}"

          custom-action-label="$ctrl.amountCurrencySelect.customActionLabel"
          on-custom-action="$ctrl.log('Custom Action Called')"

          locked="$ctrl.amountCurrencySelect.locked"
          on-locked-change="$ctrl.log('Lock changed: ' + $ctrl.amountCurrencySelect.locked)"
          show-lock="$ctrl.amountCurrencySelect.showLock"

          lock-tooltip-title="$ctrl.amountCurrencySelect.lockTooltipTitle"
          lock-tooltip-content="$ctrl.amountCurrencySelect.lockTooltipContent"

          size="lg">
        </tw-amount-currency-select>
        <div class="error-messages">
          <div class="error-required">Required</div>
          <div class="error-min">Must be higher</div>
          <div class="error-max">Must be lower</div>
        </div>
      </div>
      <h5>Configuration</h5>
  <pre>&lt;tw-amount-currency-select tw-validation
  ng-model="{{ $ctrl.model }}"<span ng-if="$ctrl.amountCurrencySelect.required">
  ng-required="{{ $ctrl.amountCurrencySelect.required }}"</span><span ng-if="$ctrl.amountCurrencySelect.disabled">
  ng-disabled="{{ $ctrl.amountCurrencySelect.disabled }}"</span><span ng-if="$ctrl.amountCurrencySelect.min">
  ng-min="{{ $ctrl.amountCurrencySelect.min }}"</span><span ng-if="$ctrl.amountCurrencySelect.max">
  ng-max="{{ $ctrl.amountCurrencySelect.max }}"</span>
  ng-change="$ctrl.log('amount input value changed:' + $ctrl.model)"
  currencies="{{ $ctrl.currencySelect }}"
  currency="'{{ $ctrl.currency | uppercase }}'"
  on-currency-change="$ctrl.log('currency input value changed:' + $ctrl.currency)"<span
    ng-if="$ctrl.amountCurrencySelect.placeholder">
  placeholder="{{ $ctrl.amountCurrencySelect.placeholder }}"</span>
  custom-action-label="{{ $ctrl.amountCurrencySelect.customActionLabel }}"
  on-custom-action="$ctrl.log('Custom Action Called')"<span
    ng-if="$ctrl.amountCurrencySelect.currencyFilterPlaceholder">
  currency-filter-placeholder="{{ $ctrl.amountCurrencySelect.currencyFilterPlaceholder }}"</span><span
    ng-if="$ctrl.amountCurrencySelect.size !== 'md'">
  size="{{ $ctrl.amountCurrencySelect.size }}"</span><span ng-if="$ctrl.amountCurrencySelect.showLock">
  show-lock="{{$ctrl.amountCurrencySelect.showLock}}"
  locked="{{ $ctrl.amountCurrencySelect.locked }}"
  on-locked-change="$ctrl.log('lock changed:' + locked)"</span>&gt;
  lock-tooltip-title="{{$ctrl.amountCurrencySelect.lockTooltipTitle}}"
  lock-tooltip-content="{{$ctrl.amountCurrencySelect.lockTooltipContent}}"
  &lt;/tw-amount-currency-select&gt;</pre>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h5 class="page-header">
          Edit configuration
        </h5>
        <div class="form-group">
          <label class="control-label">
            Toggles
          </label>
          <div class="checkbox">
            <label>
              <tw-checkbox ng-model="$ctrl.amountCurrencySelect.required" />
              Is the control required?
            </label>
          </div>
          <div class="checkbox">
            <label>
              <tw-checkbox ng-model="$ctrl.amountCurrencySelect.disabled" />
              Is the control disabled?
            </label>
          </div>
          <div class="checkbox">
            <label>
              <tw-checkbox ng-model="$ctrl.amountCurrencySelect.locked" />
              Locked?
            </label>
          </div>
          <div class="checkbox">
            <label>
              <tw-checkbox ng-model="$ctrl.amountCurrencySelect.showLock" />
              Show lock?
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">
            Placeholder
          </label>
          <input type="text"
            class="form-control"
            ng-model="$ctrl.amountCurrencySelect.placeholder" />
        </div>
        <div class="form-group">
          <label class="control-label">
            Custom Action Label
          </label>
          <input type="text"
            class="form-control"
            ng-model="$ctrl.amountCurrencySelect.customActionLabel"/>
        </div>

        <div class="form-group">
          <label class="control-label">
            Currency Filter Placeholder
          </label>
          <input type="text"
            class="form-control"
            ng-model="$ctrl.amountCurrencySelect.currencyFilterPlaceholder" />
        </div>
        <div class="form-group">
          <label class="control-label">
            Min amount
          </label>
          <input type="number"
            class="form-control"
            ng-model="$ctrl.amountCurrencySelect.min"
            tw-validation />
        </div>
        <div class="form-group">
          <label class="control-label">
            Max amount
          </label>
          <input type="number"
            class="form-control"
            ng-model="$ctrl.amountCurrencySelect.max"
            tw-validation />
        </div>
        <div class="form-group">
          <label class="control-label">
            Lock tooltip title
          </label>
          <input type="text"
            class="form-control"
            ng-model="$ctrl.amountCurrencySelect.lockTooltipTitle" />
        </div>
        <div class="form-group">
          <label class="control-label">
            Lock tooltip content
          </label>
          <input type="text"
            class="form-control"
            ng-model="$ctrl.amountCurrencySelect.lockTooltipContent" />
        </div>
        <div class="form-group">
          <label class="control-label">
            Size
          </label>
          <tw-select
            ng-model="$ctrl.amountCurrencySelect.size"
            options="$ctrl.sizes" />
        </div>
      </div>
    </div>
  </div>
</form>
