<h4 id="currency-format">TW Currency Format</h4>
<p>
  <code>twCurrencyFormat</code> provides both a component and a filter for
  formatting numbers as currency amounts, based on an ISO currency code and a
  given locale.
</p>
<ul>
  <li>Numbers without decimals are rendered without decimals, regardless of currency.</li>
  <li>Numbers with decimals are rendered with the correct number of decimals for the currency.</li>
</ul>

</p>
<p class="text-danger">
  Internally this uses Number.prototype.getLocaleString, which is not yet
  supported in Safari.
</p>
<div class="row m-b-3">
  <div class="col-md-6">
    <dl>
      <dt>Component</dt>
      <dd>
        <tw-currency-format
          amount="$ctrl.number"
          currency="$ctrl.currency"
          locale="$ctrl.locale">
        </tw-currency-format>
      </dd>
    </dl>
<pre>
&lt;tw-currency-format
  amount="{{ $ctrl.number }}"
  currency="{{ $ctrl.currency }}"
  locale="{{ $ctrl.locale }}"&gt;
&lt;/tw-currency-format&gt;
</pre>
    <h5>Currency format filter</h5>
    <p> We also provide a <code>twCurrencyFormat</code> filter.</p>
    <dl>
      <dt>Filter</dt>
      <dd>{{ $ctrl.number | twCurrencyFormat : $ctrl.currency : $ctrl.locale }}</dd>
    </dl>
<pre>
<code ng-non-bindable>{{</code>{{ $ctrl.number }} | twCurrencyFormat : "{{ $ctrl.currency }}" : "{{ $ctrl.locale }}" <code ng-non-bindable>}}</code>
</pre>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h5 class="page-header">Edit configuration</h5>
      <div class="form-group">
        <label class="control-label">
          Number
        </label>
        <input type="number" class="form-control" ng-model="$ctrl.number" />
      </div>
      <div class="form-group">
        <label class="control-label">
          Locale
        </label>
        <tw-select
          options="$ctrl.locales"
          ng-model="$ctrl.locale">
        </tw-select>
      </div>
      <div class="form-group">
        <label class="control-label">
          Currency
        </label>
        <tw-select
          options="$ctrl.currencies"
          ng-model="$ctrl.currency">
        </tw-select>
      </div>
    </div>
  </div>
</div>
