<!--
<div ng-if="$ctrl.isSimpleType($ctrl.schema.items.type)">
  <div ng-if="$ctrl.schema.items.values" class="form-group">
    <label class="control-label">
      {{ $ctrl.schema.title }}
    </label>
    <div class="checkbox" ng-repeat="(index, option) in $ctrl.schema.items.values">
      <label>
        <tw-checkbox
          ng-model="$ctrl.model[index]"
          ng-value="option.value"
          on-change="$ctrl.onModelChange($ctrl.model[index], index)">
        </tw-checkbox>
        {{ option.label }}
      </label>
    </div>
  </div>
  {{ $ctrl.model }}
</div>
-->

<div ng-if="!$ctrl.isSimpleType($ctrl.schema.items.type)">
  <h4 class="page-header" ng-if="$ctrl.schema.title">
    {{ $ctrl.schema.title }}
  </h4>
  <p ng-if="$ctrl.schema.description">
    {{ $ctrl.schema.description }}
  </p>
  <div ng-repeat="(index, childModel) in $ctrl.model">
    <hr ng-if="index > 0" class="m-t-1 m-b-2" />
    <div class="row">
      <div class="col-sm-9">
        <generic-schema
          schema="$ctrl.schema.items"
          model="childModel"
          errors="$ctrl.errors[index]"
          locale="$ctrl.locale"
          translations="$ctrl.translations"
          on-change="$ctrl.onModelChange(model, index)"
          on-refresh="$ctrl.onRefreshRequirements(model, index)">
        </generic-schema>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-danger btn-block m-t-3"
          ng-click="$ctrl.remove(index)"
          ng-disabled="index < $ctrl.schema.minItems">
          {{ $ctrl.translations.array.remove }}
        </button>
      </div>
    </div>
  </div>
  <button class="btn btn-default"
    ng-disabled="$ctrl.schema.maxItems && $ctrl.model.length >= $ctrl.schema.maxItems"
    ng-click="$ctrl.add()">
    {{ $ctrl.translations.array.add }}
  </button>
</div>
