
<!--if (schema.items.type in ['string', 'number', 'integer', 'boolean']) {
  if (schema.values) {
    <label> schema.title </label>
    <multi-select-input value="model" on-change="" /> TODO Document
    <messaging type="schema.type" value="model" schema="schema" />
  }
  // Arrays of arbitrary basic types are not supported TODO
} else {
-->
  <h4 class="page-header" ng-if="$ctrl.schema.title">
    {{ $ctrl.schema.title }}
  </h4>
  <p ng-if="$ctrl.schema.description">
    {{ $ctrl.schema.description }}
  </p>
  <div ng-repeat="(index, childModel) in $ctrl.model">
    <hr ng-if="index > 0" class="m-t-1 m-b-2" />
    <div class="row">
      <div class="col-xs-10">
        <generic-schema
          schema="$ctrl.schema.items"
          model="childModel"
          errors="$ctrl.errors[index]"
          locale="$ctrl.locale"
          on-change="$ctrl.onItemChange(index, model)"
          on-refresh="$ctrl.onRefreshRequirements(index, model)">
        </generic-schema>
      </div>
      <div class="col-xs-2">
        <button class="btn btn-danger m-t-3"
          ng-click="$ctrl.remove(index)"
          ng-disabled="index < $ctrl.schema.minItems">
          Remove
        </button>
      </div>
    </div>
    <!--
    <button class="btn btn-danger"
      ng-if="!$ctrl.schema.minItems || index >= $ctrl.schema.minItems"
      ng-click="$ctrl.remove(index)">
      Remove
    </button>
  -->
  </div>
  <button class="btn btn-default"
    ng-disabled="$ctrl.schema.maxItems && $ctrl.model.length >= $ctrl.schema.maxItems"
    ng-click="$ctrl.add()">
    Add
  </button>
