<div id="camera" ng-class="{translucent: $ctrl.mode === 'loading'}">
  <video id="cameraViewfinder" class="fixed w-100 h-100" ng-show="$ctrl.mode === 'capture'" ng-class="{mirrored: ($ctrl.guidelines.direction || '').toLowerCase() === 'user'}" playsinline></video>
  <div id="cameraViewfinderOverlay" ng-if="$ctrl.guidelines.outline && $ctrl.mode === 'capture'" ng-class="{mirrored: ($ctrl.guidelines.direction || '').toLowerCase() === 'user'}" ng-style="{'background-image': 'url(' + $ctrl.guidelines.outline + ')', width: $ctrl.overlaySquareLength + 'px', height: $ctrl.overlaySquareLength + 'px'}"></div>
  <canvas id="cameraSensor" ng-show="$ctrl.mode === 'confirm'" ng-style="{width: $ctrl.sensorWidth + 'px'}"></canvas>

  <label class="fixed-bottom camera-ctrl-bar">
    <span class="camera-ctrl-box-small">
      <span id="video-cancel" class="camera-ctrl-btn-small camera-ctrl-btn-cancel icon icon-close" ng-if="$ctrl.mode === 'capture'" ng-click="$ctrl.onCancelBtnClick()"></span>
      <span id="capture-cancel" class="camera-ctrl-btn-small camera-ctrl-btn-cancel icon icon-close" ng-if="$ctrl.mode === 'confirm'" ng-click="$ctrl.onRecaptureBtnClick()"></span>
    </span>
    <span class="camera-ctrl-box-big">
      <span id="video-confirm" class="camera-ctrl-btn-big" ng-if="$ctrl.mode === 'capture'" ng-click="$ctrl.onCaptureBtnClick()">
        <span class="camera-ctrl-btn-big-inner"></span>
      </span>
    </span>
    <span class="camera-ctrl-box-small">
      <span id="capture-confirm" class="camera-ctrl-btn-small camera-ctrl-btn-confirm icon icon-check" ng-if="$ctrl.mode === 'confirm'" ng-click="$ctrl.onUploadBtnClick()"></span>
    </span>
  </label>
</div>
