<tw-tabs
  ng-if="$ctrl.requirements.length > 1"
  tabs="$ctrl.requirements"
  on-change="$ctrl.onTabChange(index)"
  active="$ctrl.activeIndex">
</tw-tabs>
<div class="tab-content" ng-form="twForm"
  ng-if="$ctrl.requirements.length > 0">
  <div class="tab-pane active">
    <p ng-if="$ctrl.requirements[$ctrl.activeIndex].description">
      {{ $ctrl.requirements[$ctrl.activeIndex].description }}
    </p>
    <tw-fieldset
      fields="$ctrl.requirements[$ctrl.activeIndex].properties"
      model="$ctrl.model"
      upload-options="$ctrl.uploadOptions"
      locale="{{$ctrl.locale}}"
      on-refresh-requirements="$ctrl.onFieldsetRefreshRequirements()"
      validation-messages="$ctrl.validationMessages"
      error-messages="$ctrl.errorMessages"
      is-valid="$ctrl.isValid">
    </tw-fieldset>
  </div>
</div>
