<div class="droppable" ng-class="{
  'droppable-sm': $ctrl.size ==='sm',
  'droppable-md': $ctrl.size ==='md' || !$ctrl.size,
  'droppable-lg': $ctrl.size ==='lg',
  'droppable-dropping': $ctrl.isDroppable,
  'droppable-processing': !$ctrl.isDone && ($ctrl.isProcessing || $ctrl.isSuccess || $ctrl.isError),
  'droppable-complete': $ctrl.isDone
}">
  <div class="droppable-default-card" aria-hidden="{{$ctrl.isDone}}">
    <div class="droppable-card-content">
      <div class="m-b-2">
        <img
          ng-show="$ctrl.helpImage"
          ng-src="{{$ctrl.helpImage}}"
          alt="{{$ctrl.label}}"
          class="thumbnail text-xs-center" />
        <span ng-show="!$ctrl.helpImage" class="icon icon-{{$ctrl.viewIcon}} icon-xxl"></span>
      </div>
      <h4 class="m-b-1" ng-if="$ctrl.label || $ctrl.description">
        {{$ctrl.label || $ctrl.description}}
      </h4>
      <p class="m-b-2">{{$ctrl.placeholder || $ctrl.instructions}}</p>
      <label class="btn btn-primary" ng-class="{'disabled': $ctrl.ngDisabled}">
        <span ng-if="$ctrl.buttonText" ng-bind="$ctrl.buttonText"></span>
        <span ng-if="!$ctrl.buttonText" class="icon icon-upload m-r-0"></span>
        <input tw-file-input
          type="file"
          accept="{{$ctrl.accept}}"
          class="tw-droppable-input hidden"
          ng-disabled="$ctrl.ngDisabled"
          name="file-upload"
          on-user-input="$ctrl.onManualUpload()"
          ng-model="$ctrl.inputFile" />
        <!-- ng-change="$ctrl.onManualUpload()" -->
      </label>
    </div>
  </div>
  <div class="droppable-processing-card droppable-card"
    aria-hidden="{{$ctrl.isDone}}">
    <div class="droppable-card-content">
      <h4 class="m-b-2">
        <span ng-if="$ctrl.isProcessing && $ctrl.processingText"
          class="upload-processing-message">
          {{$ctrl.processingText}}
        </span>
        <span ng-if="$ctrl.isSuccess && $ctrl.successText"
          class="upload-success-message">
          {{$ctrl.successText}}
        </span>
        <span ng-if="$ctrl.isError && $ctrl.failureText"
          class="upload-failure-message">
          {{$ctrl.failureText}}
        </span>
      </h4>
      <tw-process size="sm" state="$ctrl.processingState"
        ng-if="($ctrl.isProcessing || $ctrl.isSuccess || $ctrl.isError)"></tw-process>
    </div>
  </div>
  <div class="droppable-complete-card droppable-card"
    aria-hidden="{{!$ctrl.isDone}}">
    <div class="droppable-card-content">
      <div ng-if="!$ctrl.hasTranscluded && !$ctrl.isError">
        <h4 class="m-b-2" ng-if="$ctrl.label">
          {{$ctrl.label}}
        </h4>
        <img
          ng-if="$ctrl.isImage"
          src="data:image/png;base64,
            iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
          ng-src="{{$ctrl.image}}"
          alt="OK"
          class="thumbnail m-b-3" />
        <span class="icon icon-pdf icon-xxl" ng-if="!$ctrl.isImage"></span>
        <p class="text-ellipsis m-b-2">{{$ctrl.fileName}}</p>
      </div>
      <div ng-if="!$ctrl.hasTranscluded && $ctrl.isError">
        <h4 class="m-b-2" ng-if="$ctrl.isTooLarge">{{$ctrl.tooLargeMessage}}</h4>
        <h4 class="m-b-2" ng-if="$ctrl.isWrongType">{{$ctrl.wrongTypeText}}</h4>
        <h4 class="m-b-2" ng-if="!$ctrl.isTooLarge && $ctrl.errorMessage">{{$ctrl.errorMessage}}</h4>
        <span class="icon icon-alert icon-xxl text-danger m-b-1"></span>
      </div>
      <div ng-if="$ctrl.hasTranscluded" ng-transclude></div>
      <p class="m-t-2 m-b-0">
        <a href="" ng-click="$ctrl.clear()">
          <svg
            ng-if="!$ctrl.cancelText"
            viewBox="0 0 24 24"
            fill="#00b9ff"
            xmlns="http://www.w3.org/2000/svg"
            height="25">
            <path d="M12 23a11 11 0 1 1 11-11 11 11 0 0 1-11 11zm0-21a10 10 0 1 0 10 10A10 10 0 0 0 12 2z"></path>
            <path
              d="M16.85 7.85l-.71-.7L12 11.29 7.85 7.15l-.71.7L11.29 12l-4.15 4.15.71.7L12 12.71l4.14 4.14.71-.7L12.7 12l4.15-4.15z">
            </path>
          </svg>
          {{$ctrl.cancelText}}
        </a>
      </p>
    </div>
  </div>
  <div class="droppable-dropping-card droppable-card">
    <div class="droppable-card-content">
      <h4 class="m-b-2">Drop file to start upload</h4>
      <div class="circle circle-sm">
        <span class="icon icon-add"></span>
      </div>
      <p class="m-t-2 m-b-0"></p>
    </div>
  </div>
</div>
