<div class="row">
  <tw-select
    name="phoneNumberPrefix"
    class="col-xs-5"
    ng-model="$ctrl.prefix"
    ng-change="$ctrl.onPrefixChange($ctrl.prefix)"
    options="$ctrl.callingCodes"
    filter="{{ $ctrl.searchPlaceholder }}"
    dropdown-width="md"
    ng-required="$ctrl.ngRequired"
    ng-disabled="$ctrl.ngDisabled"
    hide-note="true"
  ></tw-select>
  <div class="col-xs-7">
    <input type="tel" tw-validation
      name="phoneNumber"
      placeholder="{{ $ctrl.placeholder }}"
      class="form-control"
      ng-model="$ctrl.suffix"
      ng-change="$ctrl.onSuffixChange($ctrl.suffix)"
      ng-pattern="$ctrl.permittedCharacters"
      ng-minlength="4"
      ng-required="$ctrl.ngRequired"
      ng-disabled="$ctrl.ngDisabled"
      tw-text-format="{{ $ctrl.format }}" />
    <div ng-transclude class="error-messages"></div>
  </div>
</div>
