<label class="btn"
  ng-click="$ctrl.onButtonClick()"
  ng-class="{ 'disabled': $ctrl.disabled,
              'btn-primary': !$ctrl.isSecondary,
              'btn-default': $ctrl.isSecondary,
              'btn-block': $ctrl.block,
              'btn-sm': $ctrl.small
            }">
  <span ng-if="$ctrl.label" ng-bind="$ctrl.label"></span>
  <tw-upload-icon ng-if="!$ctrl.label" class="m-r-0"></tw-upload-icon>
  <span ng-if="!$ctrl.isLiveCameraUpload">
    <input
      ng-if="!$ctrl.multiple"
      tw-file-input
      type="file"
      accept="{{ $ctrl.accept }}"
      class="tw-droppable-input hidden"
      ng-disabled="$ctrl.ngDisabled"
      name="{{ $ctrl.name }}"
      on-user-input="$ctrl.onButtonCapture()"
      ng-model="$ctrl.model" />
    <input
      ng-if="$ctrl.multiple"
      tw-file-input
      type="file"
      accept="{{ $ctrl.accept }}"
      class="tw-droppable-input hidden"
      ng-disabled="$ctrl.ngDisabled"
      name="{{ $ctrl.name }}"
      on-user-input="$ctrl.onButtonCapture()"
      ng-model="$ctrl.model"
      multiple />
  </span>
</label>
