<label class="btn btn-primary"
  ng-click="$ctrl.onButtonClick()"
  ng-class="{ 'disabled': $ctrl.disabled }">
  <span ng-if="$ctrl.label" ng-bind="$ctrl.label"></span>
  <span ng-if="!$ctrl.label" class="icon icon-upload m-r-0"></span>
  <input
    ng-if="!$ctrl.isLiveCameraUpload"
    tw-file-input
    type="file"
    accept="{{ $ctrl.accept }}"
    class="tw-droppable-input hidden"
    ng-disabled="$ctrl.ngDisabled"
    name="{{ $ctrl.name }}"
    on-user-input="$ctrl.onButtonCapture()"
    ng-model="$ctrl.model"
    multiple />
</label>
