<h4 id="dynamic">Dynamic form control</h4>
<p>The dynamic form control is a form control that can
  be fully configured based on a set of parameters.</p>
<p>This control can be used as the basis for a fully
  dynamic form based on an external specification.</p>
<hr />
<form>
<div class="row m-b-3">
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label" for="dynamic">
        Example dynamic form control
      </label>
      <tw-dynamic-form-control
        name="dynamic"
        type="{{$ctrl.dynamic.type}}"
        placeholder="{{$ctrl.dynamic.placeholder}}"
        options="$ctrl.dynamic.options"
        locale="{{$ctrl.dynamic.locale}}"
        ng-model="$ctrl.model"
        ng-required="$ctrl.dynamic.required"
        ng-disabled="$ctrl.dynamic.disabled"
        ng-minlength="$ctrl.dynamic.minlength"
        ng-maxlength="$ctrl.dynamic.maxlength"
        ng-pattern="$ctrl.dynamic.pattern"
        ng-min="$ctrl.dynamic.min"
        ng-max="$ctrl.dynamic.max"
        ng-change="$ctrl.log('dynamic change')"
        ng-focus="$ctrl.log('dynamic focus')"
        ng-blur="$ctrl.log('dynamic blur')"
        upload-options="$ctrl.dynamic.uploadOptions"
        tw-validation />
      <div class="error-messages">
        <div class="error-required">
          Required
        </div>
        <div class="error-minlength">
          Must be at least {{$ctrl.dynamic.minlength}} characters
        </div>
        <div class="error-maxlength">
          Must not be longer than {{$ctrl.dynamic.maxlength}} characters
        </div>
        <div class="error-min">
          Must be at least {{$ctrl.dynamic.min}}
        </div>
        <div class="error-max">
          Must not be higher than {{$ctrl.dynamic.max}}
        </div>
        <div class="error-pattern">
          Invalid characters
        </div>
        <div class="error-number">
          Must be a number
        </div>
      </div>
      <docs-status-messages></docs-status-messages>
    </div>

    <h5>Configuration</h5>
<pre>&lt;tw-dynamic-form-control
  type="{{$ctrl.dynamic.type}}"<span ng-if="$ctrl.dynamic.type !== 'radio' && $ctrl.dynamic.type !== 'date'">
  placeholder="{{$ctrl.dynamic.placeholder}}"</span><span ng-if="$ctrl.dynamic.type === 'radio' || $ctrl.dynamic.type === 'select'">
  options="{{$ctrl.dynamic.options}}"</span><span ng-if="$ctrl.dynamic.type === 'date'">
  locale="{{$ctrl.dynamic.locale}}"</span>
  ng-model="{{$ctrl.model}}"<span ng-if="$ctrl.dynamic.required">
  ng-required="{{$ctrl.dynamic.required}}"</span><span ng-if="$ctrl.dynamic.disabled">
  ng-disabled="{{$ctrl.dynamic.disabled}}"</span><span ng-if="$ctrl.dynamic.type === 'text'"><span ng-if="$ctrl.dynamic.minlength">
  ng-minlength="{{$ctrl.dynamic.minlength}}"</span><span ng-if="$ctrl.dynamic.maxlength">
  ng-maxlength="{{$ctrl.dynamic.maxlength}}"</span><span ng-if="$ctrl.dynamic.pattern">
  ng-pattern="{{$ctrl.dynamic.pattern}}"</span></span><span ng-if="$ctrl.dynamic.type === 'number' || $ctrl.dynamic.type === 'date'"><span ng-if="$ctrl.dynamic.min">
  ng-min="{{$ctrl.dynamic.min}}"</span><span ng-if="$ctrl.dynamic.max">
  ng-max="{{$ctrl.dynamic.max}}"</span></span>
  ng-change='...'
  ng-focus='...'
  ng-blur='...'<span ng-if="$ctrl.dynamic.type === 'upload'">
  upload-options="{{$ctrl.dynamic.uploadOptions}}"</span>
  tw-validation /&gt;</pre>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h5 class="page-header">
        Edit configuration
      </h5>

      <div class="form-group" ng-init="$ctrl.dynamic.type = 'text';">
        <label class="control-label">
          Type
        </label>
        <tw-select
          options="$ctrl.dynamic.types"
          ng-model="$ctrl.dynamic.type"
          ng-change="$ctrl.model = null">
        </tw-select>
      </div>

      <div class="form-group">
        <label class="control-label">
          Required?
        </label>
        <div class="checkbox">
          <label>
            <tw-checkbox ng-model="$ctrl.dynamic.required" />
            Is the control required?
          </label>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">
          Disabled?
        </label>
        <div class="checkbox">
          <label>
            <tw-checkbox ng-model="$ctrl.dynamic.disabled" />
            Is the control disabled?
          </label>
        </div>
      </div>

      <div class="form-group"
        ng-if="$ctrl.dynamic.type === 'text'">
        <label class="control-label">
          Min/Max length
        </label>
        <div class="row">
          <div class="col-xs-6">
            <input type="number"
              class="form-control"
              placeholder="Minlength"
              ng-model="$ctrl.dynamic.minlength" />
          </div>
          <div class="col-xs-6">
            <input type="number"
              class="form-control"
              placeholder="Maxlength"
              ng-model="$ctrl.dynamic.maxlength" />
          </div>
        </div>
      </div>

      <div class="form-group"
        ng-if="$ctrl.dynamic.type === 'text'">
        <label class="control-label">
          Pattern
        </label>
        <input type="text"
          class="form-control"
          placeholder="e.g. [a-z]+"
          ng-model="$ctrl.dynamic.pattern"
          validate-regexp tw-validation />
        <div class="error-messages">
          <div class="error-async">Invalid regex</div>
        </div>
      </div>

      <div class="form-group"
        ng-if="$ctrl.dynamic.type === 'number'">
        <label class="control-label">
          Min/Max
        </label>
        <div class="row">
          <div class="col-xs-6">
            <input type="number"
              class="form-control"
              placeholder="Min"
              ng-model="$ctrl.dynamic.min" />
          </div>
          <div class="col-xs-6">
            <input type="number"
              class="form-control"
              placeholder="Max"
              ng-model="$ctrl.dynamic.max" />
          </div>
        </div>
      </div>

      <div class="form-group"
        ng-if="$ctrl.dynamic.type === 'date'">
        <label class="control-label">
          Min/Max ('YYYY-mm-dd')
        </label>
        <div class="row">
          <div class="col-xs-6">
            <input type="text"
              class="form-control"
              placeholder="Min"
              ng-model="$ctrl.dynamic.min" />
          </div>
          <div class="col-xs-6">
            <input type="text"
              class="form-control"
              placeholder="Max"
              ng-model="$ctrl.dynamic.max" />
          </div>
        </div>
      </div>

      <div class="form-group" ng-if="$ctrl.dynamic.type === 'date'">
        <label class="control-label">
          Locale
        </label>
        <tw-select
          options="$ctrl.locales"
          ng-model="$ctrl.dynamic.locale"
          ng-init="$ctrl.dynamic.locale='en-GB'" />
      </div>

      <div class="form-group"
        ng-if="$ctrl.dynamic.type !== 'radio' && $ctrl.dynamic.type !== 'date'">
        <label class="control-label">
          Placeholder
        </label>
        <input type="text"
          class="form-control"
          ng-model="$ctrl.dynamic.placeholder"
          ng-init="$ctrl.dynamic.placeholder = 'Example'" />
      </div>

      <div class="form-group"
        ng-if="$ctrl.dynamic.type === 'upload'">
        <label class="control-label">
          Upload Button Text
        </label>
        <input type="text"
          class="form-control"
          ng-model="$ctrl.dynamic.uploadOptions.buttonText"
          ng-init="$ctrl.dynamic.uploadOptions.buttonText = 'Upload a file'" />
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="Submit form" />
    </div>
  </div>
</div>
</form>
