
<h4 id="fieldset">TW Fieldset</h4>
<p>
  <code>tw-fieldset</code> is a component that allows us to build a simple
  form dynamically.  The values of the form controls are mapped to the supplied
  model object. <code>tw-fieldset</code> is a companion to
  <code><a href="#definition-list">tw-definition-list</a></code> which can be
  used to display the generated model.
</p>
<tw-fieldset
  legend="Fieldset"
  fields="$ctrl.fields"
  model="$ctrl.model"
  upload-options="{buttonText: 'Choose file'}">
</tw-fieldset>

<div class="row">
  <div class="col-md-6">
    <h5>Configuration</h5>
<pre>
&lt;tw-fieldset
  legend="Fieldset"
  fields="$ctrl.fields"
  model="$ctrl.model"&gt;
&lt;/tw-fieldset&gt;
</pre>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h6>Model</h6>
      <pre class="m-b-0">{{$ctrl.model | json}}</pre>
    </div>
  </div>
</div>
