<div class="panel">
  <div class="panel-heading">
    <h2 class="panel-title">Form components</h2>
  </div>
  <div class="panel-body" ng-init="$ctrl.requirementsForm = {}">
    <tw-amount-currency-select-docs
      model="$ctrl.model.components.amount"
      currency="$ctrl.model.components.amountCurrency"
      sizes="$ctrl.sizes">
    </tw-amount-currency-select-docs>
    <tw-checkbox-docs
      model="$ctrl.model.components.checkbox">
    </tw-checkbox-docs>
    <tw-currency-input-docs
      model="$ctrl.model.components.currencyInput"
      sizes="$ctrl.sizes">
    </tw-currency-input-docs>
    <tw-date-docs
      model="$ctrl.model.components.date"
      locales="$ctrl.locales"
      sizes="$ctrl.sizes">
    </tw-date-docs>
    <tw-date-lookup-docs
      model="$ctrl.model.components.dateLookup"
      locales="$ctrl.locales"
      sizes="$ctrl.sizes">
    </tw-date-lookup-docs>
    <tw-dynamic-control-docs
      model="$ctrl.model.components.dynamic"
      locales="$ctrl.locales"
      sizes="$ctrl.sizes">
    </tw-dynamic-control-docs>
    <tw-radio-docs
      model="$ctrl.model.components.radio">
    </tw-radio-docs>
    <tw-requirements-form-docs
      model="$ctrl.requirementsForm">
    </tw-requirements-form-docs>
    <tw-select-docs
      model="$ctrl.model.components.select">
    </tw-select-docs>
    <tw-upload-docs
      model="$ctrl.model.components.upload"
      sizes="$ctrl.sizes">
    </tw-upload-docs>
  </div>
</div>
