<h4 id="upload-live-camera">Upload with Live Camera</h4>
<p><code>tw-upload-live-camera</code> is a component for uploading a live camera photo. It is
  designed to be used multiple times when more than one file is required.</p>
<ul>
  <li>Files can be saved immediately by passing in a set of <code>http-options</code>,
    to be used with Angular's
    <a href="https://docs.angularjs.org/api/ng/service/$http" target="_new">$http service</a>.</li>
  <li>If an <code>ngModel</code> binding is supplied the component will bind the
    base64 encoded file to that property, ready for an asynchronous
    <code>multipart/form-data</code> POST.</li>
</ul>
<p>A number of event handlers are available during the component lifecycle:</p>
<ul>
  <li><p><code>on-start(File)</code> - fired when we start processing the file, the
    file object is passed to the handler, containing the size, name, and type of
    the file (but not the data, use ngModel).</p></li>
  <li><p><code>on-success($httpResponse)</code> - fired when we successfully
    process the file and internal animations are complete.  The success handler
    will be passed the response from the $http service if
    <code>http-options</code> were supplied.</p></li>
  <li><p><code>on-failure($httpResponse)</code> - fired when we fail to process
    the file after internal animations finish.  The failure handler
    will be passed the response from the $http service if
    <code>http-options</code> were supplied.</p>
  </li>
  <li><p><code>on-cancel()</code> - fired when we reset the control to it's initial
    state ready to accept a new file.</p></li>
</ul>

<form action="/file" method="POST" enctype="multipart/form-data">
<div class="row m-b-3">
  <div class="col-md-6">
    <div class="form-group">
      <tw-upload-live-camera
        ng-model="$ctrl.model"
        name="$ctrl.name"
        illustration-image="http://dogr.io/wow/suchservice/muchtextsplitting/verydirectcompose.png"
        label="{{$ctrl.label}}"
        placeholder="{{$ctrl.placeholder}}"
        camera-overlay="https://previews.123rf.com/images/ikonstudio/ikonstudio1809/ikonstudio180900021/108858898-video-camera-viewfinder-overlay-16-9-full-hd-format-of-frame-with-60-fps-template-camera-frame-vecto.jpg"
        camera-face-mode="environment"
        processing-text="{{$ctrl.processingText}}"
        success-text="{{$ctrl.successText}}"
        failure-text="{{$ctrl.failureText}}"
        cancel-text="{{$ctrl.cancelText}}"
        error-message="{{$ctrl.errorMessage}}"
        on-start="$ctrl.onStart"
        on-success="$ctrl.onSuccess"
        on-failure="$ctrl.onFailure"
        on-cancel="$ctrl.onCancel"
        http-options="$ctrl.httpOptions">
      </tw-upload-live-camera>
    </div>

    <h5>Configuration</h5>
    <pre>&lt;tw-upload-live-camera
      ng-model="$ctrl.model"
      name="{{$ctrl.name}}"
      illustration-image="Some image"
      label="{{$ctrl.label}}"
      placeholder="{{$ctrl.placeholder}}"
      camera-overlay="Some image"
      camera-face-mode="environment"
      processing-text="{{$ctrl.processingText}}"
      success-text="{{$ctrl.successText}}"
      failure-text="{{$ctrl.failureText}}"
      cancel-text="{{$ctrl.cancelText}}"
      error-message="{{$ctrl.errorMessage}}"
      on-start="$ctrl.onStart"
      on-success="$ctrl.onSuccess"
      on-failure="$ctrl.onFailure"
      on-cancel="$ctrl.onCancel"
      http-options="$ctrl.httpOptions">
      &lt;/tw-upload-live-camera&gt;
    </pre>
  </div>

  <div class="col-md-6">
    <div class="well">
      <h5 class="page-header">
        Edit configuration
      </h5>
      <div class="form-group" ng-init="$ctrl.name = 'file'">
        <label class="control-label">
          Name of the form field
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.name" />
      </div>

      <div class="form-group">
        <label class="control-label">
          Label
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.label" />
      </div>

      <div class="form-group"
        ng-init="$ctrl.placeholder = 'Snap a photo and upload'">
        <label class="control-label">
          Placeholder text
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.placeholder" />
      </div>

      <div class="form-group" ng-init="$ctrl.cancelText = 'Upload a different photo?'">
        <label class="control-label">
          Cancel text
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.cancelText" />
      </div>

      <div class="form-group">
        <label class="control-label">
          Processing text
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.processingText" />
      </div>
      <div class="form-group">
        <label class="control-label">
          Success text
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.successText" />
      </div>
      <div class="form-group">
        <label class="control-label">
          Failure text
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.failureText" />
      </div>

      <div class="form-group">
        <span class="control-label">Toggles</span>
        <div class="checkbox">
          <label>
            <tw-checkbox
              ng-model="$ctrl.httpOptions"
              ng-true-value="{url: 'partials/image-upload.json'}"
              ng-false-value="false">
            </tw-checkbox>
            POST immmediately?
          </label>
        </div>
        <div class="checkbox">
          <label>
            <tw-checkbox
              ng-model="$ctrl.httpOptions"
              ng-true-value="{url: '404'}"
              ng-false-value="false">
            </tw-checkbox>
            Post to a 404 for testing?
          </label>
        </div>
        <div class="checkbox">
          <label>
            <tw-checkbox ng-model="$ctrl.showNgModel"></tw-checkbox>
            Bind to ngModel?
          </label>
        </div>
        <div class="checkbox">
          <label>
            <tw-checkbox ng-model="$ctrl.customComplete"></tw-checkbox>
            Custom complete screen?
          </label>
        </div>
      </div>

      <div class="form-group" ng-init="$ctrl.size = 'md'">
        <label class="control-label">
          Size
        </label>
        <tw-select
          placeholder="Size"
          ng-required="true"
          ng-model="$ctrl.size"
          options="$ctrl.sizes"></tw-select>
      </div>

      <div class="form-group" ng-init="$ctrl.accept = 'image/*'">
        <label class="control-label">
          Accept (CSV of file extensions)
        </label>
        <tw-select
          placeholder="Any file type"
          ng-model="$ctrl.accept"
          options="$ctrl.acceptOptions">
        </tw-select>
      </div>

      <div class="form-group">
        <label class="control-label">
          Error message
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.errorMessage" placeholder="Populate using on-failure..." />
      </div>
    </div>
  </div>
</div>
</form>
