<div class="droppable" ng-class="{
  'droppable-sm': $ctrl.size ==='sm',
  'droppable-md': $ctrl.size ==='md' || !$ctrl.size,
  'droppable-lg': $ctrl.size ==='lg',
  'droppable-dropping': false,
  'droppable-processing': !$ctrl.isDone && ($ctrl.isProcessing || $ctrl.isSuccess || $ctrl.isError),
  'droppable-complete': $ctrl.isDone
}">

  <div class="droppable-default-card" aria-hidden="{{$ctrl.isDone}}">
    <div ng-hide="$ctrl.showVideoPreview" class="droppable-card-content">
      <div class="m-b-2">
        <img ng-show="$ctrl.illustrationImage" ng-src="{{$ctrl.illustrationImage}}" alt="{{$ctrl.label}}" class="thumbnail text-xs-center" />
      </div>
      <h4 class="m-b-1" ng-if="$ctrl.label">
        {{$ctrl.label}}
      </h4>
      <p class="m-b-2">{{$ctrl.placeholder}}</p>
      <label class="btn btn-primary" ng-click="$ctrl.onLiveCamFlowStart()" ng-disabled="$ctrl.ngDisabled" ng-class="{'disabled': $ctrl.ngDisabled}">
        <span class="icon icon-camera m-r-0"></span>
      </label>
    </div>
    <!-- Video preview screen with the video itself and capture screen, should be full screen -->
    <div id="video-preview" ng-show="$ctrl.showVideoPreview" class="w-100 h-100 fixed-top bg-dark">
      <!-- TODO haoyuan: center and rotate camera overlay -->
      <img id="overlay" ng-if="$ctrl.cameraOverlay" ng-show="$ctrl.showVideoInPreview" ng-src="{{$ctrl.cameraOverlay}}" alt="overlay" class="w-100 h-100 fixed-top opacity-overlay zindex-video-overlay"/>
      <!-- TODO haoyuan: work with designer to figure out how this asset is going to be provided -->
      <video id="video" ng-show="$ctrl.showVideoInPreview" ng-style="{height: $ctrl.videoHeight + '%'}" class="w-100 fixed-top zindex-video" playsinline></video>
      <canvas id="display-canvas" ng-show="$ctrl.showCaptureInPreview" class="fixed zindex-video" ></canvas>
      <canvas id="upload-canvas" ng-show="false" class="fixed" ></canvas>

      <label class="fixed-bottom camera-ctrl-bar">
        <span class="camera-ctrl-box-small">
          <span class="camera-ctrl-btn-small camera-ctrl-btn-cancel icon icon-close" ng-if="$ctrl.showVideoInPreview" ng-click="$ctrl.onCancelBtnClick()"></span>
          <span class="camera-ctrl-btn-small camera-ctrl-btn-cancel icon icon-close" ng-if="$ctrl.showCaptureInPreview" ng-click="$ctrl.onRecaptureBtnClick()"></span>
        </span>
        <span class="camera-ctrl-box-big">
          <span class="camera-ctrl-btn-big" ng-if="$ctrl.showVideoInPreview" ng-click="!$ctrl.captureButtonDisabled && $ctrl.onCaptureBtnClick()">
            <span class="camera-ctrl-btn-big-inner"></span>
          </span>
        </span>
        <span class="camera-ctrl-box-small">
          <span class="camera-ctrl-btn-small camera-ctrl-btn-confirm icon icon-check" ng-if="$ctrl.showCaptureInPreview" ng-click="$ctrl.onUploadBtnClick()"></span>
        </span>
      </label>
    </div>
  </div>

  <div class="droppable-processing-card droppable-card"
    aria-hidden="{{$ctrl.isDone}}">
    <div class="droppable-card-content">
      <h4 class="m-b-2">
        <span ng-if="$ctrl.isProcessing && $ctrl.processingText">{{$ctrl.processingText}}</span>
        <span ng-if="$ctrl.isSuccess && $ctrl.successText">{{$ctrl.successText}}</span>
        <span ng-if="$ctrl.isError && $ctrl.failureText">{{$ctrl.failureText}}</span>
      </h4>
      <tw-process size="sm" state="$ctrl.processingState"
        ng-if="($ctrl.isProcessing || $ctrl.isSuccess || $ctrl.isError)"></tw-process>
    </div>
  </div>

  <div class="droppable-complete-card droppable-card"
    aria-hidden="{{!$ctrl.isDone}}">
    <div class="droppable-card-content">
      <div ng-if="!$ctrl.isError">
        <h4 class="m-b-2" ng-if="$ctrl.label">
          {{$ctrl.label}}
        </h4>
        <img
          ng-if="$ctrl.isImage"
          src="data:image/png;base64,
            iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
          ng-src="{{$ctrl.image}}"
          alt="OK"
          class="thumbnail m-b-3" />
        <span class="icon icon-pdf icon-xxl" ng-if="!$ctrl.isImage"></span>
        <p class="text-ellipsis m-b-2">{{$ctrl.fileName}}</p>
      </div>
      <div ng-if="$ctrl.isError">
        <h4 class="m-b-2" ng-if="$ctrl.errorMessage">{{$ctrl.errorMessage}}</h4>
        <h4 class="m-b-2" ng-if="!$ctrl.errorMessage">Unknown Error</h4>
        <span class="icon icon-alert icon-xxl text-danger m-b-1"></span>
      </div>
      <p class="m-t-2 m-b-0">
        <a href="" ng-click="$ctrl.clear()">
          <!-- Draw a happy little cross in a happy little circle (X) -->
          <svg
            ng-if="!$ctrl.cancelText"
            viewBox="0 0 24 24"
            fill="#00b9ff"
            xmlns="http://www.w3.org/2000/svg"
            height="25">
            <path d="M12 23a11 11 0 1 1 11-11 11 11 0 0 1-11 11zm0-21a10 10 0 1 0 10 10A10 10 0 0 0 12 2z"></path>
            <path
              d="M16.85 7.85l-.71-.7L12 11.29 7.85 7.15l-.71.7L11.29 12l-4.15 4.15.71.7L12 12.71l4.14 4.14.71-.7L12.7 12l4.15-4.15z">
            </path>
          </svg>
          {{$ctrl.cancelText}}
        </a>
      </p>
    </div>
  </div>
</div>
