<li class="list-group-item p-a-0 list-group-item-{{$ctrl.state}}"
    ng-class="{
    'active': $ctrl.open,
    'disabled': $ctrl.disabled
  }">

  <div class="p-a-panel" role="{{$ctrl.empty ? null : 'button'}}" ng-click="!$ctrl.empty && $ctrl.toggle($ctrl.index)">
    <div class="media">
      <div class="media-left">
        <div class="circle circle-sm circle-responsive" ng-class="{'circle-inverse': !$ctrl.inactive }">
          <div ng-transclude="cardIcon"></div>
        </div>
      </div>
      <div class="media-body" ng-transclude="collapsedCard"></div>
      <div class="media-right" ng-class="{'invisible': $ctrl.empty }">
        <tw-icon name="$ctrl.open ? 'chevron-up' : 'chevron-down'" class="hidden-xs hidden-sm anchor"></tw-icon>
        <tw-chevron-right ng-if="!$ctrl.open" class="visible-xs-inline visible-sm-inline anchor"></tw-chevron-right>
      </div>
    </div>
  </div>

  <div class="collapse" ng-attr-aria-expanded="{{ $ctrl.open }}" ng-class="{'in': $ctrl.open }" ng-if="$ctrl.open" >
    <div class="p-l-panel p-r-panel p-b-panel">
      <div class="media">
        <div class="media-left">
          <div class="circle circle-sm circle-inverse circle-responsive invisible"></div>
        </div>
        <div class="media-body">
          <hr class="m-t-0 hidden-xs hidden-sm" />
          <a href="" ng-click="$ctrl.toggle($ctrl.index)" class="visible-xs-inline-block visible-sm-inline-block text-no-decoration m-t-1 tw-card-back">
            <tw-arrow-left-icon size="24"></tw-arrow-left-icon>
          </a>
          <div ng-transclude="expandedCard"></div>
        </div>
      </div>
    </div>

    <div class="p-y-3 bg-default p-l-panel p-r-panel" ng-if="$ctrl.showForm">
      <div class="media">
        <div class="media-left">
          <div class="circle circle-sm circle-responsive invisible"></div>
        </div>
        <div class="media-body" ng-transclude="cardForm"></div>
      </div>
    </div>
  </div>

  <div ng-transclude="modals"></div>
</li>
