<h4 id="cards">Cards</h4>
<div class="row">
  <div class="col-md-8">
    <p>These are cards that have information about an activity and
      provide more detail when they're expanded. Things to know about
      expandable cards: </p>

    <p>The tw-cards container has one (optional) attribute
    <code>inactive</code> (boolean), that provides for the cards with the
    less prominent apparearance featured below.</p>
    <p>Each <code>tw-card</code> belongs in a <code>tw-cards</code> container.
      They take up to four attributes.</p>
    <ul>
      <li><code>state</code> - bootstrap state for the colour of the card</li>
      <li><code>open</code> - (optional) boolean to mark a card for pre-expansion.
      Only the first card in any <code>tw-cards</code> container with this attribute will
      be expanded</li>
      <li><code>disabled</code> - (optional) boolean for greyed out text on a card for
      something like a cancelled transfer</li>
    </ul>
    <p>Each tw-card provides transclusion slots the following elements</p>
    <ul>
      <li><code>card-icon</code> - circle for the card's icon</li>
      <li><code>collapsed</code> - the content for the collapsed card</li>
      <li><code>expanded</code> - the content for the expanded card</li>
      <li><code>card-form</code> - (optional) the content for a form (like repeat transfer)</li>
    </ul>
    <p>tw-card exposes two life-cycle events:</p>
    <ul class="m-b-3">
      <li><code>on-expand</code> - fired each time the card expands.</li>
      <li><code>on-collapse</code> - fired each time the card collapses.</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h5>Configuration</h5>
<pre>
&lt;tw-cards&gt;
    &lt;tw-card
        state="danger"
        open="false"
        on-expand="..."
        on-collapse="..."&gt;
        &lt;card-icon&gt;
        &lt;/card-icon&gt;
        &lt;collapsed&gt;
        &lt;/collapsed&gt;
        &lt;expanded&gt;
        &lt;/expanded&gt;
        &lt;card-form&gt;
        &lt;/card-form&gt;
    &lt;/tw-card&gt;
&lt;/tw-cards&gt;
</pre>
  </div>
</div>

<div class="bg-default p-a-panel">
  <tw-cards>
    <tw-card
      state="danger"
      on-expand="$ctrl.log('expand 1')"
      on-collapse="$ctrl.log('collapse 1')">
      <card-icon>
        <span class="icon icon-request icon-md"></span>
      </card-icon>
      <collapsed>
        <collapse-example>
          <middle>
            <p class="list-group-item-heading text-max-width hidden-xs">
              <span>Transfer<span class="visible-xl-inline h5"> £10.00 </span>from</span>
              <strong >Mike Marter</strong>
            </p>
            <p class="small m-b-0 text-max-width list-group-item-text">
              We received your money. There was a problem with your documents.
            </p>
          </middle>
          <right>
            <p class="m-y-0 h5">
              <span class="sr-only">Sent</span>£10.00<span class="hidden-xs"> GBP</span>
            </p>
            <p class="m-y-0 small">
              <span class="sr-only">Received</span> exactly $12.34
              <span class="hidden-xs">USD</span>
            </p>
          </right>
        </collapse-example>
      </collapsed>
      <expanded>
        <expand-example>
          <heading>We received your money. There was a problem with your documents.</heading>
          <middle>
            <ul class="sequence sequence-hollow sequence-pulse m-l-1 sequence-danger">
              <li><p class="small p-b-1">You set up a transfer to TransferWise</p></li>
              <li class="active">
                <p class="m-b-1 text-danger">The money is on it's way to TransferWise</p>
                <p class="small p-b-1">Although you have instructed your bank to us the money, it will take
                  several hours for them to process the transfer and pay out.  We cannot
                  process the transfer until it arrives in our account.</p>
              </li>
              <li><p class="small p-b-1">We receive the money and transfer it to Steve Pole</p></li>
              <li><p class="small p-b-1">Steve Pole's bank process the transfer</p></li>
              <li><p class="small p-b-1">The money appears in Steve Pole's account.</p></li>
            </ul>
            <div class="row">
              <div class="col-sm-12 col-lg-3 m-b-0">
                <a href="/examples/details.html">View details</a>
              </div>
            </div>
          </middle>
          <buttons>
            <button class="btn btn-primary ">Fix this transfer</button>
            <button class="btn btn-danger pull-md-right m-b-0">Cancel transfer</button>
          </buttons>
        </expand-example>
      </expanded>
    </tw-card>
    <tw-card
      state="info"
      on-expand="$ctrl.log('expand 2')"
      on-collapse="$ctrl.log('collapse 2')">
      <card-icon>
        <span class="icon icon-md icon-transfer"></span>
      </card-icon>
      <collapsed>
        <collapse-example>
          <middle>
            <p class="list-group-item-heading text-max-width hidden-xs">
              Transfer to <strong>Steve Pole</strong>
            </p>
            <p class="small m-b-0 text-max-width list-group-item-text">
              We received your money. We're processing your transfer.
            </p>
          </middle>
          <right>
            <p class="m-y-0 small">
              <span class="sr-only">Sent</span> £10.00
              <span class="hidden-xs">GBP</span>
            </p>
            <p class="m-y-0 h5">
              <span class="sr-only">Received</span> $12.34
              <span class="hidden-xs">USD</span>
            </p>
          </right>
        </collapse-example>
      </collapsed>
      <expanded>
        <expanded-example>
          <heading>We received your money. We're processing your transfer.</heading>
          <middle>
            <ul class="sequence sequence-hollow sequence-pulse m-l-1 sequence-info">
              <li><p class="small p-b-1">You set up a transfer to TransferWise</p></li>
              <li class="active">
                <p class="m-b-1 text-info">The money is on it's way to TransferWise</p>
                <p class="small p-b-1">Although you have instructed your bank to us the money, it will take
                  several hours for them to process the transfer and pay out. We cannot
                  process the transfer until it arrives in our account.</p>
              </li>
              <li><p class="small p-b-1">We receive the money and transfer it to Steve Pole</p></li>
              <li><p class="small p-b-1">Steve Pole's bank process the transfer</p></li>
              <li><p class="small p-b-1">The money appears in Steve Pole's account.</p></li>
            </ul>
            <div class="row">
              <div class="col-sm-12 col-lg-3 m-b-0">
                <a href="/examples/details.html">View details</a>
              </div>
            </div>
          </middle>
          <buttons>
            <button class="btn btn-danger pull-md-right m-b-0">Cancel transfer</button>
          </buttons>
        </expanded-example>
      </expanded>
    </tw-card>
    <tw-card
      state="warning"
      on-expand="$ctrl.log('expand 3')"
      on-collapse="$ctrl.log('collapse 3')">
      <card-icon>
        <img class="hidden-xs" height="50" alt="tw sample photo"
          ng-src="{{ $ctrl.imageUrl }}" />
        <span class="visible-xs icon icon-md icon-profile"></span>
      </card-icon>
      <collapsed>
        <collapse-example>
          <middle>
            <p class="list-group-item-heading text-max-width">
              <span class="hidden-xs">Transfer to</span>
              <strong> Mike Marter</strong>
            </p>
            <p class="small m-b-0 text-max-width list-group-item-text">
              Waiting for you to pay in.
            </p>
          </middle>
          <right>
            <p class="m-y-0  h5">
              <span class="sr-only">Sent</span> £10.00 <span class="hidden-xs ">GBP</span>
            </p>
            <p class="m-y-0 small">
              <span class="sr-only">Received</span> about
              $12.34 <span class="hidden-xs ">USD</span>
            </p>
          </right>
        </collapse-example>
      </collapsed>
      <expanded>
        <expanded-example>
          <heading>Waiting for you to pay in.</heading>
          <middle>
            <ul class="sequence sequence-hollow sequence-pulse m-l-1 sequence-warning">
              <li><p class="small p-b-1">You set up a transfer to TransferWise</p></li>
              <li class="active">
                <p class=" m-b-1">The money is on it's way to TransferWise</p>
                <p class="small p-b-1">Although you have instructed your bank to us the money, it will take
                  several hours for them to process the transfer and pay out. We cannot
                  process the transfer until it arrives in our account.</p>
              </li>
              <li><p class="small p-b-1 ">We receive the money and transfer it to Mike Marter</p></li>
              <li><p class="small p-b-1 ">Mike Marter's bank process the transfer</p></li>
              <li><p class="small p-b-1 ">The money appears in Mike Marter's account.</p></li>
            </ul>
            <div class="row">
              <div class="col-sm-12 col-lg-3 m-b-0">
                <a href="/examples/details.html">View details</a>
              </div>
            </div>
          </middle>
          <buttons>
            <button class="btn btn-primary ">Pay for this transfer</button>
            <button class="btn btn-primary ">I've already paid</button>
            <button class="btn btn-danger pull-md-right m-b-0">Cancel transfer</button>
          </buttons>
        </expanded-example>
      </expanded>
    </tw-card>
</tw-cards>
<br />
<h5>Inactive Cards</h5>
<br />
<tw-cards inactive="true">
    <tw-card
      state="none"
      show-form="true"
      on-expand="$ctrl.log('expand 4')"
      on-collapse="$ctrl.log('collapse 4')">
      <card-icon>V</card-icon>
      <collapsed>
        <collapse-example>
          <middle>
            <p class="list-group-item-heading text-max-width">
              <span class="hidden-xs">Transfer to </span>
              <strong>Peet's coffee</strong>
            </p>
            <p class="small m-b-0 text-max-width list-group-item-text" title="01 July 2016 1:34 PM">
              Completed 01 July 2016
            </p>
          </middle>
          <right>
            <p class="m-y-0 h5">
              <span class="sr-only">Sent</span> £2.50 <span class="hidden-xs ">GBP</span>
            </p>
            <p class="m-y-0 small">
              <span class="sr-only">Received</span> £2.50 <span class="hidden-xs ">GBP</span>
            </p>
          </right>
        </collapse-example>
      </collapsed>
      <expanded>
        <expanded-example>
          <middle>
            <div class="m-t-1 m-b-3 visible-xs-block visible-sm-block">
              <p class="h2 m-b-0 list-group-item-text" title="01 July 2016 1:34 PM">
                Completed 01 July 2016
              </p>
            </div>
            <div>
              <div class="row">
                <dl class="col-sm-6">
                  <dt>Sent to</dt>
                  <dd>Merchant account</dd>
                </dl>
                <dl class="col-sm-6">
                  <dt>Reference</dt>
                  <dd>Ref123</dd>
                </dl>
              </div>
              <div class="row">
                <dl class="col-sm-6">
                  <dt>Exchange rate</dt>
                  <dd>1.0000</dd>
                </dl>
                <dl class="col-sm-6">
                  <dt>Fee</dt>
                  <dd>0.00 GBP</dd>
                </dl>
              </div>
              <div class="row">
                <dl class="col-sm-6">
                  <dt>Transfer number</dt>
                  <dd>123456789</dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-lg-3 m-b-0">
                <a href="/examples/details.html">View details</a>
              </div>
            </div>
          </middle>
        </expanded-example>
      </expanded>
      <card-form>
        <form-example></form-example>
      </card-form>
    </tw-card>
    <tw-card
      state="none"
      show-form="true"
      on-expand="$ctrl.log('expand 5')"
      on-collapse="$ctrl.log('collapse 5')">
      <card-icon>W</card-icon>
      <collapsed>
        <collapse-example>
          <middle>
            <p class="list-group-item-heading text-max-width">
              <span class="hidden-xs">Reward payment to your </span>
              <strong>GBP balance</strong>
            </p>
            <p class="small m-b-0 text-max-width list-group-item-text" title="01 April 2016 1:34 PM">
              Completed 01 April 2016
            </p>
          </middle>
          <right>
            <p class="m-y-0  h5">
              <span class="sr-only">Sent</span> £10.00 <span class="hidden-xs ">GBP</span>
            </p>
            <p class="m-y-0  small">
              <span class="sr-only">Received</span> £10.00 <span class="hidden-xs ">GBP</span>
            </p>
          </right>
        </collapse-example>
      </collapsed>
      <expanded>
        <expanded-example>
          <middle>
            <div class="m-t-1 m-b-3 visible-xs-block visible-sm-block">
              <p class="h2 m-b-0 list-group-item-text" title="01 April 2016 1:34 PM">
                Completed 01 April 2016
              </p>
            </div>
            <div>
              <div class="row">
                <dl class="col-sm-6">
                  <dt>Sent to</dt>
                  <dd>GBP balance</dd>
                </dl>
                <dl class="col-sm-6">
                  <dt>Reference</dt>
                  <dd>Referral Bonus</dd>
                </dl>
              </div>
              <div class="row">
                <dl class="col-sm-6">
                  <dt>Exchange rate</dt>
                  <dd>1.0000</dd>
                </dl>
                <dl class="col-sm-6">
                  <dt>Fee</dt>
                  <dd>0.00 GBP</dd>
                </dl>
              </div>
              <div class="row">
                <dl class="col-sm-6">
                  <dt>Transfer number</dt>
                  <dd>123456789</dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-lg-3 m-b-0">
                <a href="/examples/details.html">View details</a>
              </div>
            </div>
          </middle>
        </expanded-example>
      </expanded>
      <card-form>
        <form-example></form-example>
      </card-form>
    </tw-card>
    <tw-card
      state="none"
      disabled="true"
      on-expand="$ctrl.log('expand 6')"
      on-collapse="$ctrl.log('collapse 6')">
      <card-icon>X</card-icon>
      <collapsed>
        <collapse-example>
          <middle>
            <p class="list-group-item-heading text-max-width">
              <span class="hidden-xs">Transfer to</span>
              <strong>Steve Pole</strong>
            </p>
            <p class="small m-b-0 text-max-width list-group-item-text" title="10 June 2016 1:34 PM">
              Cancelled 10 June 2016
            </p>
          </middle>
          <right>
            <p class="m-y-0  h5">
              <span class="sr-only">Sent</span>£10,000,000.00<span class="hidden-xs ">GBP</span>
            </p>
            <p class="m-y-0  small">
              <span class="sr-only">Received</span>€11,987,000.00<span class="hidden-xs ">GBP</span>
            </p>
          </right>
        </collapse-example>
      </collapsed>
      <expanded>
        <expanded-example>
          <middle>
            <div class="m-t-1 m-b-3 visible-xs-block visible-sm-block">
              <p class="h2 m-b-0 list-group-item-text" title="10 June 2016 1:34 PM">
                Cancelled 10 June 2016
              </p>
            </div>
            <div>
              <div class="row">
                <dl class="col-sm-6">
                  <dt>Sent to</dt>
                  <dd>Account ending 1234</dd>
                </dl>
                <dl class="col-sm-6">
                  <dt>Reference</dt>
                  <dd>NewHouse</dd>
                </dl>
              </div>
              <div class="row">
                <dl class="col-sm-6">
                  <dt>Exchange rate</dt>
                  <dd>1.1987</dd>
                </dl>
                <dl class="col-sm-6">
                  <dt>Fee</dt>
                  <dd>500.00 GBP</dd>
                </dl>
              </div>
              <div class="row">
                <dl class="col-sm-6">
                  <dt>Transfer number</dt>
                  <dd>123456789</dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-lg-3 m-b-0">
                <a href="/examples/details.html">View details</a>
              </div>
            </div>
          </middle>
        </expanded-example>
      </expanded>
      <card-form>
        <form-example></form-example>
      </card-form>
    </tw-card>
  </tw-cards>
</div>
