<!DOCTYPE html>
<html>
<head>
	<title>Styleguide Components - TransferWise</title>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<script src="../components/angular/angular.min.js"></script>
	<script src="../components/jquery/dist/jquery.min.js"></script>
	<script src="../dist/js/styleguide-components.min.js"></script>

	<script>
	angular.module('my-app', ['tw.styleguide-components']);
	</script>

	<link type="text/css" rel="stylesheet"
		href="../components/bootstrap/dist/css/bootstrap.min.css" />

	<style>
	body {
		background-color: #F2F5F7;
	}
	</style>
</head>
<body ng-app="my-app">
	<div class="container">
		<div class="row m-t-lg">
			<div class="col-md-8">
				<form class="panel"
					name="exampleForm"
					ng-submit="vm.submit()"
					novalidate>
					<div class="panel-heading">
						<h3>Simple Form</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label class="control-label">
								Required text input
							</label>
							<input type="text" required
								class="form-control"
								placeholder="Placeholder"
								ng-model="vm.model.textRequired" />
						</div>
						<div class="form-group">
							<label class="control-label">
								Required select
							</label>
							<select class="form-control" required
								ng-model="vm.model.selectRequired">
								<option value="">Please choose..</option>
								<option value="1">Option 1</option>
							</select>
						</div>
						<div class="form-group">
							<label class="control-label">
								Checkboxes
							</label>
							<div class="checkbox">
								<label>
									<input type="checkbox" required
										ng-model="vm.model.checkbox1" />
									Checkbox 1
								</label>
							</div>
							<div class="checkbox disabled">
								<label>
									<input type="checkbox" disabled
										ng-model="vm.model.checkbox2" >
									Checkbox 2 - disabled
								</label>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label">
								Radio buttons
							</label>
							<div class="radio">
								<label>
									<input type="radio" name="simple-radio"
										value="1"
										ng-model="vm.model.simpleRadio" />
									Radio 1
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="simple-radio"
										value="2"
										ng-model="vm.model.simpleRadio" />
									Radio 2
								</label>
							</div>
							<div class="radio disabled">
								<label>
									<input type="radio" name="simple-radio" disabled
										value="3"
										ng-model="vm.model.simpleRadio">
									Radio 3 - disabled
								</label>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label">
								Complex text validation
							</label>
							<input type="text" required
								name="textComplex"
								class="form-control"
								placeholder="a-z, 2 to 6 chars"
								ng-model="vm.model.textComplex"
								ng-pattern="/^[a-z]+$/"
								minlength="2"
								maxlength="6" />
							<div ng-if="
								(exampleForm.$submitted || exampleForm.textComplex.$touched ) &&
								exampleForm.textComplex.$invalid"
								class="text-danger">
								Error message
							</div>
						</div>

						<button type="submit" class="btn btn-primary btn-block">
							Submit form
						</button>
					</div>
				</form>
			</div>
			<div class="col-md-4">
				<pre>{{vm.model | json}}</pre>
			</div>
		</div>
	</div>
</body>
</html>
