<div class="m-t-1">
  <h4
    ng-if="$ctrl.title"
    ng-bind="$ctrl.title"
    class="page-header p-t-3">
  </h4>
</div>
<div class="row" ng-class="{'row-equal-height': $ctrl.layout === 'vertical'}">
  <div class="col-xs-12"
    ng-class="{'col-sm-6': !$ctrl.narrow && $ctrl.layout === 'vertical'}"
    ng-repeat="(key, field) in $ctrl.fields track by $index"
    ng-if="$ctrl.model[key]">

    <dl ng-if="!field.group"
      ng-class="{'dl-horizontal-item': $ctrl.layout === 'justified', 'dl-horizontal': $ctrl.layout === 'horizontal'}">
      <dt ng-bind="field.title"></dt>
      <dd ng-switch="field.control" class="text-word-break">
        <span ng-switch-when="select|radio" ng-switch-when-separator="|">
          {{ $ctrl.getValueLabel(field.values, $ctrl.model[key]) }}
        </span>
        <span ng-switch-when="date">
          {{ $ctrl.model[key] | twDateFormat: $ctrl.locale }}
        </span>
        <span ng-switch-when="number">
          {{ $ctrl.model[key] | twNumberFormat: $ctrl.locale }}
        </span>
        <span ng-switch-when="password">
          {{ $ctrl.mask($ctrl.model[key]) }}
        </span>
        <div ng-switch-when="file" class="thumbnail">
          <img alt="{{ field.title }}"
            ng-src="{{ $ctrl.model[key] }}"
            ng-attr-alt="{{ field.title }}" />
        </div>
        <span ng-switch-default>
          {{ $ctrl.model[key] | twTextFormat: field.displayFormat }}
        </span>
      </dd>
    </dl>

    <!-- Start old 'nested group' style -->
    <dl ng-if="field.group"
      ng-class="{'dl-horizontal-item': $ctrl.layout === 'justified', 'dl-horizontal': $ctrl.layout === 'horizontal'}">
      <dt ng-bind="field.title"></dt>
      <dd class="text-word-break">
        <span ng-repeat="fieldSection in field.group">
          <span ng-switch="fieldSection.control">
            <span ng-switch-when="select|radio" ng-switch-when-separator="|">
              {{ $ctrl.getValueLabel(fieldSection.values, $ctrl.model[fieldSection.key]) }}
            </span>
            <span ng-switch-when="date">
              {{ $ctrl.model[fieldSection.key] | twDateFormat: $ctrl.locale }}
            </span>
            <span ng-switch-when="number">
              {{ $ctrl.model[fieldSection.key] | twNumberFormat: $ctrl.locale }}
            </span>
            <span ng-switch-when="password">
              {{ $ctrl.mask($ctrl.model[fieldSection.key]) }}
            </span>
            <div ng-switch-when="file" class="thumbnail">
              <img alt="{{ field.title }}"
                ng-src="{{ $ctrl.model[fieldSection.key] }}"
                ng-attr-alt="{{ field.title }}" />
            </div>
            <span ng-switch-default>
              {{ $ctrl.model[fieldSection.key] | twTextFormat: fieldSection.displayFormat }}
            </span>
          </span>
        </span>
      </dd>
    </dl>
    <!-- End old 'nested group' style -->

  </div>
</div>
