<fieldset ng-form="twFieldset">
  <legend ng-if="$ctrl.legend">{{ $ctrl.legend }}</legend>
  <p class="text-max-width" ng-if="$ctrl.description">{{ $ctrl.description }}</p>
  <div class="row row-equal-height">
    <div ng-repeat="field in $ctrl.fields track by $index" class="col-xs-12" ng-hide="field.hidden"
      ng-class="{
        'col-sm-4': !$ctrl.narrow  && field.width === 'sm',
        'col-sm-6': !$ctrl.narrow  && (field.width === 'md' || field.maxlength && field.maxlength <= 10),
        'col-sm-12': $ctrl.narrow || field.width === 'lg' || !field.maxlength || field.maxlength > 10
      }">

      <tw-field
        ng-if="!field.group"
        model="$ctrl.model[field.key]"
        options="field"
        locale="$ctrl.locale"
        upload-options="$ctrl.uploadOptions"
        error-message="$ctrl.errorMessages[field.key]"
        on-change="$ctrl.onFieldChange(field)"
        on-focus="$ctrl.onFieldFocus(field)"
        on-blur="$ctrl.onFieldBlur(field)">
      </tw-field>

      <!-- Start old format -->
      <div class="form-group" ng-if="field.group"
        ng-class="{
          'has-error': $ctrl.errorMessages[field.key]
        }">
        <label class="control-label">{{ field.name }}</label>
        <div class="row">
          <div class="col-xs-{{field.columns}}"
            ng-repeat="fieldSection in field.group track by $index">
            <tw-form-control
              name="{{fieldSection.key}}"
              label="{{field.name}}"
              type="{{fieldSection.type | lowercase}}"
              placeholder="{{fieldSection.placeholder || fieldSection.example}}"
              help-text="{{fieldSection.helpText}}"
              help-image="{{fieldSection.helpImage}}"
              locale="{{$ctrl.locale}}"
              upload-accept="{{fieldSection.accept}}"
              upload-icon="{{fieldSection.icon}}"
              upload-too-large-message="{{fieldSection.tooLargeMessage}}"
              options="fieldSection.valuesAllowed"
              upload-options="$ctrl.uploadOptions"
              ng-model="$ctrl.model[fieldSection.key]"
              ng-blur="$ctrl.onBlur(field)"
              ng-change="$ctrl.onChange(field)"
              ng-required="fieldSection.required"
              ng-disabled="fieldSection.disabled"
              tw-minlength="fieldSection.minLength"
              tw-maxlength="fieldSection.maxLength"
              ng-min="fieldSection.min || fieldSection.minimum"
              ng-max="fieldSection.max || fieldSection.maximum"
              ng-pattern="fieldSection.validationRegexp || fieldSection.pattern"
              text-format="fieldSection.displayFormat"
              tw-validation
            ></tw-form-control>
            <div class="alert alert-danger error-messages"
              ng-class="{'alert-detach': fieldSection.type === 'date' || fieldSection.type === 'upload'}">
              <div ng-repeat="(validationType, validationMessage) in fieldSection.validationMessages"
                class="error-{{validationType}}">
                {{validationMessage}}
              </div>
              <div class="error-provided" ng-if="$ctrl.errorMessages[fieldSection.key]">
                {{ $ctrl.errorMessages[fieldSection.key] }}
              </div>
            </div>
            <div ng-if="fieldSection.tooltip || fieldSection.helpText"
              class="alert alert-focus"
              ng-class="{'alert-detach': fieldSection.type === 'date' || fieldSection.type === 'upload'}">
              {{ fieldSection.tooltip || fieldSection.helpText}}
            </div>
            <img
              ng-if="fieldSection.helpImage && fieldSection.type !== 'upload'"
              ng-src="fieldSection.helpImage"
              alt="{{field.name}}"
              class="thumbnail m-t-2 m-b-0" />
          </div>
        </div>
        <!-- End old format -->
      </div>
    </div>
  </div>
</fieldset>
