<div ng-switch="$ctrl.type">
  <div ng-switch-when="radio"
    class="radio"
    ng-class="{disabled: $ctrl.ngDisabled, 'radio-lg': option.secondary}"
    ng-repeat="option in $ctrl.options">
    <label>
      <tw-radio
        name="{{$ctrl.name}}"
        ng-value="option.value"
        ng-model="$ctrl.internalModel"
        ng-required="$ctrl.ngRequired"
        ng-disabled="$ctrl.ngDisabled"
        ng-change="$ctrl.change(option.value)"
        ng-click="$ctrl.change(option.value)"
        ng-focus="$ctrl.focus()"
        ng-blur="$ctrl.blur()"
      ></tw-radio>
      {{option.label}}
      <small ng-if="option.secondary">{{option.secondary}}</small>
    </label>
  </div>

  <div ng-switch-when="checkbox"
    class="checkbox"
    ng-class="{disabled: $ctrl.ngDisabled}">
    <label>
      <tw-checkbox
        name="{{$ctrl.name}}"
        ng-model="$ctrl.internalModel"
        ng-required="$ctrl.ngRequired"
        ng-disabled="$ctrl.ngDisabled"
        ng-change="$ctrl.change($ctrl.internalModel)"
        ng-click="$ctrl.change()"
        ng-focus="$ctrl.focus()"
        ng-blur="$ctrl.blur()"
      ></tw-checkbox>
      {{$ctrl.placeholder}}
    </label>
  </div>

  <div ng-switch-when="select">
    <tw-select
      name="{{$ctrl.name}}"
      options="$ctrl.options"
      filter="{{ $ctrl.options.length > 9 ? ' ' : '' }}"
      placeholder="{{$ctrl.placeholder}}"
      ng-model="$ctrl.internalModel"
      ng-required="$ctrl.ngRequired"
      ng-disabled="$ctrl.ngDisabled"
      ng-change="$ctrl.change($ctrl.internalModel)"
      ng-focus="$ctrl.focus()"
      ng-blur="$ctrl.blur()"
    ></tw-select>
  </div>

  <div ng-switch-when="file">
    <tw-upload
      name="{{$ctrl.name}}"
      label="{{$ctrl.label}}"
      icon="{{$ctrl.uploadIcon}}"
      help-image="{{$ctrl.helpImage}}"
      placeholder="{{$ctrl.placeholder}}"
      accept="{{$ctrl.uploadAccept}}"
      complete-text="{{$ctrl.label}}"
      button-text="{{$ctrl.uploadOptions.buttonText}}"
      cancel-text="{{$ctrl.uploadOptions.cancelText}}"
      too-large-message="{{$ctrl.uploadTooLargeMessage}}"
      max-size="$ctrl.ngMax"
      ng-model="$ctrl.internalModel"
      ng-required="$ctrl.ngRequired"
      ng-disabled="$ctrl.ngDisabled"
      ng-change="$ctrl.change($ctrl.internalModel)"
      ng-focus="$ctrl.focus()"
      ng-blur="$ctrl.blur()"
    ></tw-upload>
  </div>

  <div ng-switch-when="date|date-time" ng-switch-when-separator="|">
    <tw-date
      name="{{$ctrl.name}}"
      locale="{{$ctrl.locale}}"
      ng-min="$ctrl.ngMin"
      ng-max="$ctrl.ngMax"
      ng-model="$ctrl.internalModel"
      ng-model-options="{ allowInvalid: true }"
      ng-required="$ctrl.ngRequired"
      ng-disabled="$ctrl.ngDisabled"
      ng-change="$ctrl.change($ctrl.internalModel)"
      ng-focus="$ctrl.focus()"
      ng-blur="$ctrl.blur()"
      model-type="string"
    ></tw-date>
  </div>

  <div ng-switch-when="tel">
    <tw-telephone
      name="{{ $ctrl.name }}"
      placeholder="{{ $ctrl.placeholder }}"
      ng-model="$ctrl.internalModel"
      ng-model-options="{ allowInvalid: true, debounce: 300 }"
      ng-required="$ctrl.ngRequired"
      ng-disabled="$ctrl.ngDisabled"
      ng-change="$ctrl.change($ctrl.internalModel)"
      ng-focus="$ctrl.focus()"
      ng-blur="$ctrl.blur()"
      locale="{{ $ctrl.locale }}"
      search-placeholder=" "
    ></tw-telephone>
  </div>

  <input ng-switch-when="number"
    name="{{$ctrl.name}}"
    type="number"
    step="{{$ctrl.step}}"
    class="form-control"
    placeholder="{{$ctrl.placeholder}}"
    ng-model="$ctrl.internalModel"
    ng-model-options="{ allowInvalid: true, debounce: 300 }"
    ng-required="$ctrl.ngRequired"
    ng-disabled="$ctrl.ngDisabled"
    ng-change="$ctrl.change($ctrl.internalModel)"
    ng-focus="$ctrl.focus()"
    ng-blur="$ctrl.blur()"
    ng-min="$ctrl.ngMin"
    ng-max="$ctrl.ngMax" />

  <input ng-switch-when="hidden"
    name="{{$ctrl.name}}"
    type="hidden"
    ng-model="$ctrl.ngModel"/>

  <input ng-switch-when="password"
    name="{{$ctrl.name}}"
    type="password"
    class="form-control"
    placeholder="{{$ctrl.placeholder}}"
    ng-model="$ctrl.internalModel"
    ng-model-options="{ allowInvalid: true, debounce: 300 }"
    ng-required="$ctrl.ngRequired"
    ng-disabled="$ctrl.ngDisabled"
    ng-change="$ctrl.change($ctrl.internalModel)"
    ng-focus="$ctrl.focus()"
    ng-blur="$ctrl.blur()"
    ng-minlength="$ctrl.ngMinlength"
    ng-maxlength="$ctrl.ngMaxlength" />

  <textarea ng-switch-when="textarea"
    name="{{$ctrl.name}}"
    class="form-control"
    placeholder="{{$ctrl.placeholder}}"
    ng-model="$ctrl.internalModel"
    ng-model-options="{ allowInvalid: true, debounce: 300 }"
    ng-required="$ctrl.ngRequired"
    ng-pattern="$ctrl.ngPattern"
    ng-minlength="$ctrl.ngMinlength"
    ng-maxlength="$ctrl.ngMaxlength"
    ng-change="$ctrl.change($ctrl.internalModel)"
    ng-focus="$ctrl.focus()"
    ng-blur="$ctrl.blur()"
    ng-disabled="$ctrl.ngDisabled"
  ></textarea>

  <input ng-switch-default
    name="{{$ctrl.name}}"
    type="text"
    class="form-control"
    placeholder="{{$ctrl.placeholder}}"
    ng-model="$ctrl.internalModel"
    ng-model-options="{ allowInvalid: true, debounce: 300 }"
    ng-required="$ctrl.ngRequired"
    ng-pattern="$ctrl.ngPattern"
    ng-minlength="$ctrl.ngMinlength"
    ng-maxlength="$ctrl.ngMaxlength"
    ng-change="$ctrl.change($ctrl.internalModel)"
    ng-focus="$ctrl.focus()"
    ng-blur="$ctrl.blur()"
    ng-disabled="$ctrl.ngDisabled"
    tw-text-format="{{ $ctrl.textFormat }}" />

</div>
