<div class="droppable-complete-card droppable-card" aria-hidden="{{!$ctrl.isDone}}"
  ng-class="{
    'transparent-area p-x-3': $ctrl.isImage && ($ctrl.successMessage || $ctrl.errorMessage)
  }">
  <div class="droppable-card-content">

    <div ng-if="!$ctrl.isError && !$ctrl.successMessage">
      <h4 class="m-b-2" ng-if="$ctrl.label">
        {{$ctrl.label}}
      </h4>
      <img
        ng-if="$ctrl.isImage"
        src="data:image/png;base64,
          iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        ng-src="{{$ctrl.image}}"
        alt="OK"
        class="thumbnail m-b-3" />
      <span class="icon icon-pdf icon-xxl" ng-if="!$ctrl.isImage"></span>
      <p class="text-ellipsis m-b-2">{{$ctrl.fileName}}</p>
    </div>

    <div
      ng-if="!$ctrl.isError && $ctrl.successMessage && $ctrl.isImage"
      ng-style="{
        'background': 'linear-gradient(rgba(250, 250, 250, 0.9), rgba(250, 250, 250, 0.9)), url({{ $ctrl.image }}) no-repeat center',
        'background-size':'contain'
      }">
      <div class="m-b-3 hidden-xs">
        <span class="icon-circle-shadow icon-md">
          <svg height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.92 20.06L0 13.32L0.7 12.6L6.92 18.66L23 3L23.7 3.72L6.92 20.06Z" fill="#2ED06E"/>
          </svg>
        </span>
      </div>
      <h5 class="m-b-2" ng-if="$ctrl.successMessage">
        {{$ctrl.successMessage}}
      </h5>
      <span class="icon icon-pdf icon-xxl" ng-if="!$ctrl.isImage"></span>
      <p class="m-b-2">{{$ctrl.successDetails}}</p>
    </div>

    <div ng-if="$ctrl.isError && !$ctrl.errorMessage">
      <h4 class="m-b-2" ng-if="$ctrl.isTooLarge">{{$ctrl.tooLargeMessage}}</h4>
      <h4 class="m-b-2" ng-if="$ctrl.isWrongType">{{$ctrl.wrongTypeText}}</h4>
      <h4 class="m-b-2" ng-if="!$ctrl.isTooLarge && $ctrl.errorMessage">{{$ctrl.errorMessage}}</h4>
      <span class="icon icon-alert icon-xxl text-danger m-b-1"></span>
    </div>

    <div ng-if="$ctrl.isError && $ctrl.errorMessage && $ctrl.isImage"
      ng-style="{
        'background': 'linear-gradient(rgba(250, 250, 250, 0.9), rgba(250, 250, 250, 0.9)), url({{ $ctrl.image }}) no-repeat center',
        'background-size': 'contain'
      }">
      <div class="m-b-3 hidden-xs"><span class="icon icon-alert icon-circle-shadow icon-md"></span></div>
      <h5 class="m-b-2" ng-if="$ctrl.errorMessage">{{$ctrl.errorMessage}}</h5>
      <div class="m-b-3">
        <p ng-if="$ctrl.firstError" class="first-error">{{$ctrl.firstError.message}}</p>
      </div>
      <div class="btn-group-vertical btn-block">
        <label class="btn btn-primary btn-sm m-b-1"
          ng-click="$ctrl.onUploadButtonClick()"
          ng-class="{'disabled': $ctrl.ngDisabled}"
          ng-if="!$ctrl.isLiveCameraUpload">
          <span ng-if="$ctrl.buttonText" ng-bind="$ctrl.cancelText"></span>
          <!-- normal upload -->
          <input
            tw-file-input
            type="file"
            accept="{{$ctrl.accept}}"
            class="tw-droppable-input-reupload hidden"
            ng-disabled="$ctrl.ngDisabled"
            name="file-upload"
            on-user-input="$ctrl.onManualReupload()"
            ng-model="$ctrl.inputFile" />
        </label>
        <div class="btn btn-primary btn-sm m-b-1"
          ng-click="$ctrl.clear()"
          ng-if="$ctrl.isLiveCameraUpload">
          {{$ctrl.cancelText}}
        </div>
        <div class="btn btn-info btn-sm"
          ng-if="$ctrl.viewImageText"
          ng-click="$ctrl.toggleImageModal()" >
          {{$ctrl.viewImageText}}
        </div>
      </div>
    </div>

    <p class="m-t-2 m-b-0"
      ng-if="!$ctrl.successMessage && !$ctrl.errorMessage">
      <a href="" ng-click="$ctrl.clear()">
        <!-- Draw a happy little cross in a happy little circle (X) -->
        <svg
          ng-if="!$ctrl.cancelText"
          viewBox="0 0 24 24"
          fill="#00b9ff"
          xmlns="http://www.w3.org/2000/svg"
          height="25">
          <path d="M12 23a11 11 0 1 1 11-11 11 11 0 0 1-11 11zm0-21a10 10 0 1 0 10 10A10 10 0 0 0 12 2z"></path>
          <path
            d="M16.85 7.85l-.71-.7L12 11.29 7.85 7.15l-.71.7L11.29 12l-4.15 4.15.71.7L12 12.71l4.14 4.14.71-.7L12.7 12l4.15-4.15z">
          </path>
        </svg>
        {{$ctrl.cancelText}}
      </a>
    </p>
  </div>
</div>
