<div class="row">
  <div class="col-md-6">
    <tw-field
      field="$ctrl.field"
      model="$ctrl.model"
      error-message="$ctrl.errorMessage"
      warning-message="$ctrl.warningMessage"
      on-focus="$ctrl.onFocus()"
      on-blur="$ctrl.onBlur()"
      on-change="$ctrl.onChange(value)">
    </tw-field>
  </div>
  <div class="col-md-6" ng-class="{'p-t-3': $ctrl.field.format !== 'base64url'}">
<pre>&lt;tw-field
  model="{{ $ctrl.model }}"
  field="{{ $ctrl.field | json }}"<span ng-if="$ctrl.errorMessage">
  error-message="'{{ $ctrl.errorMessage }}'"</span><span ng-if="$ctrl.warningMessage">
  warning-message="'{{ $ctrl.warningMessage }}'"</span><span ng-if="$ctrl.onFocusHandler">
  on-focus="console.log('focus')"</span><span ng-if="$ctrl.onBlurHandler">
  on-blur="console.log('blur')"</span><span ng-if="$ctrl.onChangeHandler">
  on-change="console.log(value)"</span>&gt;
&lt;/tw-field&gt;</pre>
  </div>
</div>
