<div class="droppable-card-content">
  <div ng-if="!$ctrl.cameraFailed">
    <!-- Display illustration as image or icon -->
    <div class="m-b-2">
      <img
        ng-show="$ctrl.helpImage"
        ng-src="{{$ctrl.helpImage}}"
        alt="{{$ctrl.label}}"
        class="thumbnail text-xs-center" />
      <tw-icon ng-show="!$ctrl.helpImage" name="$ctrl.viewIcon" size="24"></tw-icon>
    </div>

    <!-- control label -->
    <h4 class="m-b-1" ng-if="$ctrl.label || $ctrl.description">
      {{$ctrl.label || $ctrl.description}}
    </h4>

    <!-- placeholder instructions -->
    <p class="m-b-2" ng-if="$ctrl.placeholder || $ctrl.instructions">
      {{$ctrl.placeholder || $ctrl.instructions}}
    </p>
  </div>

  <div ng-if="$ctrl.cameraFailed">
    <div class="m-b-2">
      <tw-process
        state='-1'
        size='sm'
      ></tw-process>
    </div>

    <h4 class="m-b-1" ng-if="$ctrl.noCameraText">{{$ctrl.noCameraText}}</h4>
    <p class="m-b-2" ng-if="$ctrl.noCameraMessage">{{$ctrl.noCameraMessage}}</p>
  </div>

  <!-- file upload -->
  <tw-upload-button
    ng-if="!$ctrl.isLiveCameraUpload"
    name="$ctrl.name"
    label="$ctrl.buttonText"
    accept="$ctrl.accept"
    model="$ctrl.inputFile"
    disabled="$ctrl.ngDisabled"
    on-capture="$ctrl.onButtonCapture(files)">
  </tw-upload-button>

  <!-- camera only upload -->
  <tw-camera-button
    ng-if="$ctrl.isLiveCameraUpload"
    label="$ctrl.buttonText"
    disabled="$ctrl.ngDisabled"
    on-click="$ctrl.onCameraButtonClick()">
  </tw-camera-button>

  <tw-camera-capture
    ng-if="$ctrl.isLiveCameraUpload && $ctrl.showLiveCaptureScreen"
    guidelines="$ctrl.cameraGuidelines"
    on-cancel="$ctrl.onCameraCancel()"
    on-capture="$ctrl.onCameraCapture(file)"
    on-error="$ctrl.onCameraError()">
  </tw-camera-capture>
</div>
