<fieldset>
  <legend ng-if="$ctrl.schema.title"> {{ $ctrl.schema.title }}</legend>
  <div class="row">
    <div ng-repeat="(property, nestedSchema) in $ctrl.schema.properties"
      class="col-xs-12"
      ng-hide="nestedSchema.hidden"
      ng-class="{
        'col-sm-4': !$ctrl.narrow  && nestedSchema.width === 'sm',
        'col-sm-6': !$ctrl.narrow  && nestedSchema.width === 'md',
        'col-sm-12': $ctrl.narrow || nestedSchema.width === 'lg'
      }">
      <generic-schema
        schema="nestedSchema"
        model="$ctrl.model[property]"
        errors="$ctrl.errors[property]"
        locale="$ctrl.locale"
        on-change="$ctrl.onPropertyChange(property, model)">
      </generic-schema>
    </div>
  </div>
</fieldset>
