<div
  class="form-group tw-field-{{ $ctrl.name }} custom-validation"
  ng-class="{
    'has-error': $ctrl.isErrorShown(),
    'has-warning': $ctrl.isWarningShown(),
    'hidden': $ctrl.field.hidden
  }"
>
  <label class="control-label" ng-if="$ctrl.isLabelShown($ctrl.control)">
    {{$ctrl.field.title}}
  </label>
  <tw-form-control
    name="{{ $ctrl.name }}"
    label="{{ $ctrl.field.title }}"
    description="{{ $ctrl.field.description }}"
    type="{{ $ctrl.control | lowercase }}"
    placeholder="{{ $ctrl.field.placeholder }}"
    help-options="$ctrl.field.help"
    locale="{{ $ctrl.locale }}"
    upload-accept="{{ $ctrl.field.accept }}"
    upload-icon="{{ $ctrl.field.icon }}"
    upload-too-large-message="{{ $ctrl.field.tooLargeMessage }}"
    options="$ctrl.field.values"
    upload-options="$ctrl.uploadOptions"
    ng-model="$ctrl.model"
    ng-focus="$ctrl.onFocus()"
    ng-blur="$ctrl.onBlur()"
    ng-change="$ctrl.onChange($ctrl.model)"
    ng-required="$ctrl.required"
    ng-disabled="$ctrl.field.disabled"
    text-format="$ctrl.field.displayFormat"
    validation-async="$ctrl.field.validationAsync"
    persist-async="$ctrl.field.persistAsync"
    file-upload-source="$ctrl.field.sourceType"
    camera-options="$ctrl.field.camera"
    on-async-success="$ctrl.onPersistAsyncSuccess(response)"
    on-async-failure="$ctrl.onPersistAsyncFailure(response)"
  ></tw-form-control>

  <small ng-if="$ctrl.isDesriptionShown()">
    {{ $ctrl.description }}
  </small>

  <div class="alert alert-danger error-messages alert-detach">
    <div
      ng-repeat="failureType in $ctrl.failures"
      ng-if="$ctrl.field.validationMessages[failureType]"
    >
      {{ $ctrl.field.validationMessages[failureType] }}
    </div>
    <div class="error-provided" ng-if="$ctrl.errorMessage">
      {{ $ctrl.errorMessage }}
    </div>
  </div>

  <div class="alert alert-warning alert-detach" ng-if="$ctrl.isWarningShown()">
    {{ $ctrl.warningMessage }}
  </div>

  <div ng-if="$ctrl.isHelpShown()" class="alert alert-focus alert-detach">
    <span ng-if="$ctrl.field.help.message">
      {{ $ctrl.field.help.message }}
    </span>
    <ul ng-if="$ctrl.field.help.list" class="list-unstyled">
      <li ng-repeat="helpMessage in $ctrl.field.help.list">{{ helpMessage }}</li>
    </ul>
    <img
      ng-if="$ctrl.field.help.image && $ctrl.control !== 'file'"
      ng-src="{{$ctrl.field.help.image}}"
      alt="{{ $ctrl.field.title }}"
      class="thumbnail m-y-2"
    />
  </div>
</div>
