<h4 id="multi-upload-demo">Multi Upload</h4>
<p><code>tw-multi-upload</code> is a component for uploading multiple files. </p>
<ul>
  <li>Files can be saved immediately by passing in a set of <code>http-options</code>,
    to be used with Angular's
    <a href="https://docs.angularjs.org/api/ng/service/$http" target="_new">$http service</a>.</li>
  <li>If an <code>ngModel</code> binding is supplied the component will bind the array of
    base64 encoded files to that property, ready for an asynchronous
    <code>multipart/form-data</code> POST.</li>
  <li>The component does NOT contain an HTML file input which can be submitted in
    a standard <code>multipart/form-data</code> form
  </li>
</ul>
<p>A number of event handlers are available during the component lifecycle:</p>
<ul>
  <li><p><code>on-start()</code> - fired when we start processing the files. If more files are added whilst files are still being processed the event is not fired.</p></li>
  <li><p><code>on-finish()</code> - fired when all files which are in the processing screen have finished. If http-options are passed then the finish event is fired when all the files have been uploaded to the server.</li>
  <li><p><code>on-failure(error)</code> - fired when a file has failed. The error is available in which an error message can be extracted and passed back to the component as failure-text.</li>
</ul>

<form action="/file" method="POST" enctype="multipart/form-data">
<div class="row m-b-3">
  <div class="col-md-6">
    <div class="form-group">

      <tw-multi-upload
        ng-model="$ctrl.model"
        ng-change="$ctrl.log('test')"
        name="$ctrl.name"
        accept="{{$ctrl.accept}}"
        max-size="$ctrl.maxSize"
        label="{{$ctrl.label}}"
        placeholder="{{$ctrl.placeholder}}"

        button-text="{{$ctrl.buttonText}}"
        add-more-button-text="{{$ctrl.addMoreButtonText}}"
        cancel-text="{{$ctrl.cancelText}}"

        too-large-message="{{$ctrl.tooLargeMessage}}"

        dropping-text="{{$ctrl.droppingText}}"
        processing-text="{{$ctrl.processingText}}"
        success-text="{{$ctrl.successText}}"
        failure-text="{{$ctrl.failureText}}"

        on-start="$ctrl.onStart()"
        on-finish="$ctrl.onFinish()"
        on-failure="$ctrl.onFailure(error)"

        http-options="$ctrl.httpOptions"
        ng-disabled="$ctrl.ngDisabled"
      ></tw-multi-upload>

    </div>
    <h5>Configuration</h5>
<pre>&lt;tw-multi-upload
  ng-model= [<div ng-repeat="item in $ctrl.model track by $index"><span>"{{ item.length > 30 ? (item | limitTo : 30) + '...' : item }}"</span></div>]
  name="{{$ctrl.name}}"<span ng-if="$ctrl.icon">
  icon="{{$ctrl.icon}}"</span><span ng-if="$ctrl.size !== 'md'">
  size="{{$ctrl.size}}"</span><span ng-if="$ctrl.label">
  label="{{$ctrl.label}}"</span>
  placeholder="{{$ctrl.placeholder}}"
  button-text="{{$ctrl.buttonText}}"<span ng-if="$ctrl.accept">
  accept="{{$ctrl.accept}}"</span><span ng-if="$ctrl.wrongTypeText">
  wrong-type-text="{{$ctrl.wrongTypeMessage}}"</span><span ng-if="$ctrl.maxSize">
  max-size="{{$ctrl.maxSize}}"
  too-large-message="{{$ctrl.tooLargeMessage}}"</span><span ng-if="$ctrl.droppingText">
  dropping-text="{{$ctrl.droppingText}}"</span><span ng-if="$ctrl.processingText">
  processing-text="{{$ctrl.processingText}}"</span><span ng-if="$ctrl.successText">
  success-text="{{$ctrl.successText}}"</span><span ng-if="$ctrl.httpOptions">
  http-options="{{$ctrl.httpOptions}}"</span><span ng-if="$ctrl.errorMessage">
  error-message="{{$ctrl.errorMessage}}"</span><span ng-if="$ctrl.addMoreButtonText">
  add-more-button-text="{{$ctrl.addMoreButtonText}}"</span>
  on-start="$ctrl.onStart"
  on-finish="$ctrl.onFinish"
  on-failure="$ctrl.onFailure(error)"
  </span><span ng-if="$ctrl.source">
  source="{{$ctrl.source}}"</span><span ng-if="$ctrl.ngDisabled">
  ng-disabled="{{$ctrl.ngDisabled}}"</span>&gt;
&lt;/tw-multi-upload&gt;
</pre>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h5 class="page-header">
        Edit configuration
      </h5>
    
      <div class="form-group" ng-init="$ctrl.name = 'file'">
        <label class="control-label">
          Name of the form field
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.name" />
      </div>

      <div class="form-group">
        <label class="control-label">
          Label
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.label" />
      </div>
      <div class="form-group"
        ng-init="$ctrl.placeholder = 'Drag and drop files less than 5MB'">
        <label class="control-label">
          Placeholder text
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.placeholder" />
      </div>

      <div class="form-group" ng-init="$ctrl.buttonText = 'Select files'">
        <label class="control-label">
          Button text
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.buttonText" />
      </div>

      <div class="form-group" ng-init="$ctrl.addMoreButtonText = 'Add more files'">
        <label class="control-label">
          Add more button text
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.addMoreButtonText" />
      </div>
    
      <div class="form-group">
        <label class="control-label">
          Dropping text
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.droppingText" />
      </div>
      <div class="form-group">
        <label class="control-label">
          Processing text
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.processingText" />
      </div>
      <div class="form-group">
        <label class="control-label">
          Success text
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.successText" />
      </div>
      <div class="form-group">
        <label class="control-label">
          Failure text
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.failureText" />
      </div>

      <div class="form-group">
        <span class="control-label">Toggles</span>
        <div class="checkbox">
          <label>
            <tw-checkbox
              ng-model="$ctrl.httpOptions"
              ng-true-value="{url: 'json/image-upload.json', idProperty: 'id'}"
              ng-false-value="false">
            </tw-checkbox>
            POST immmediately?
          </label>
        </div>
        <div class="checkbox">
          <label>
            <tw-checkbox
              ng-model="$ctrl.httpOptions"
              ng-true-value="{url: '404'}"
              ng-false-value="false">
            </tw-checkbox>
            Post to a 404 for testing?
          </label>
        </div>
        <div class="checkbox">
          <label>
            <tw-checkbox
              ng-model="$ctrl.ngDisabled">
            </tw-checkbox>
            Disabled?
          </label>
        </div>
      </div>

      <div class="form-group" ng-init="$ctrl.size = 'md'">
        <label class="control-label">
          Size
        </label>
        <tw-select
          placeholder="Size"
          ng-required="true"
          ng-model="$ctrl.size"
          options="$ctrl.sizes"></tw-select>
      </div>

      <div class="form-group" ng-init="$ctrl.accept = 'image/*'">
        <label class="control-label">
          Accept (CSV of file extensions)
        </label>
        <tw-select
          placeholder="Any file type"
          ng-model="$ctrl.accept"
          options="$ctrl.acceptOptions">
        </tw-select>
      </div>
      <!--
      <div class="form-group" ng-init="$ctrl.wrongTypeMessage = 'The file must be an image'">
        <label class="control-label">
          Wrong type text
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.wrongTypeMessage" />
      </div>
      -->
      <div class="form-group" ng-init="$ctrl.maxSize = 50000">
        <label class="control-label">
          Max file size
        </label>
        <input type="number" step="1" class="form-control" ng-model="$ctrl.maxSize" />
      </div>
      <div class="form-group" ng-init="$ctrl.tooLargeMessage = 'The file must be smaller than 1Mb'">
        <label class="control-label">
          Too large message
        </label>
        <input type="text" class="form-control" ng-model="$ctrl.tooLargeMessage" />
      </div>
      <div class="form-group">
        <label class="control-label">
          Error message
        </label>
        <input type="text"
          class="form-control"
          ng-model="$ctrl.errorMessage"
          placeholder="Populate using on-failure..." />
      </div>
    </div>
  </div>
</div>
</form>
