<div class="droppable-default-card" aria-hidden="{{$ctrl.isDone}}">
  <div ng-hide="$ctrl.showVideoPreview" class="droppable-card-content">
    <!-- Display illustration as image or icon -->
    <div class="m-b-2">
      <img
        ng-show="$ctrl.helpImage"
        ng-src="{{$ctrl.helpImage}}"
        alt="{{$ctrl.label}}"
        class="thumbnail text-xs-center" />
      <span ng-show="!$ctrl.helpImage" class="icon icon-{{$ctrl.viewIcon}} icon-xxl"></span>
    </div>
    <!-- helper texts -->
    <h4 class="m-b-1" ng-if="$ctrl.label || $ctrl.description">
      {{$ctrl.label || $ctrl.description}} HI!
    </h4>
    <!-- upload action -->
    <p class="m-b-2">{{$ctrl.placeholder || $ctrl.instructions}}</p>

    <!-- regular upload -->
    <label class="btn btn-primary"
      ng-click="$ctrl.onUploadButtonClick()"
      ng-class="{'disabled': $ctrl.ngDisabled}">
      <span ng-if="$ctrl.buttonText" ng-bind="$ctrl.buttonText"></span>
      <span ng-if="!$ctrl.buttonText" class="icon icon-upload m-r-0"></span>
      <!-- normal upload -->
      <input
        ng-if="!$ctrl.isLiveCameraUpload"
        tw-file-input
        type="file"
        accept="{{$ctrl.accept}}"
        class="tw-droppable-input hidden"
        ng-disabled="$ctrl.ngDisabled"
        name="file-upload"
        on-user-input="$ctrl.onManualUpload()"
        ng-model="$ctrl.inputFile"
        multiple />
    </label>

    <!-- camera only upload -->
    <tw-camera-capture
      ng-if="$ctrl.isLiveCameraUpload && $ctrl.showLiveCaptureScreen"
      overlay="{{$ctrl.cameraOverlay}}"
      direction="{{$ctrl.cameraDirection}}"
      on-cancel="$ctrl.onCameraCaptureCancel()"
      on-confirm="$ctrl.onCameraCaptureConfirm(file)">
    </tw-camera-capture>
  </div>
</div>
