pre {
  border: 0;
  background-color: transparent;
  padding: 0;
}

.status-messages {
	display: none;
}
.touched, .untouched, .pristine, .dirty {
	display: none;
}
.ng-touched ~ .status-messages > .touched,
.ng-untouched ~ .status-messages > .untouched,
.ng-pristine ~ .status-messages > .pristine,
.ng-dirty ~ .status-messages > .dirty {
	display: block;
}


/*
// Processing hidden by default
.droppable-capture-card {
  display: none;
  animation: droppable-fade-in .15s 0s linear forwards;
  padding: 8px;

}
// Processing shown when correct state, any transform cancelled
.droppable-capture .droppable-capture-card {
  display: block;
  transform: translateX(0);
  //.droppable-card-content {
    //opacity: 1;
  //}
}

// Processing hidden by default
.droppable-capture-preview-card {
  display: none;
  transform: translateX(100%);
  .droppable-card-content {
    opacity: 1;
  }
}
// Processing shown when correct state, any transform cancelled
.droppable-capture-preview .droppable-capture-preview-card {
  display: flex;
  transform: translateX(0);
  .droppable-card-content {
    opacity: 1;
  }
}

.droppable-capture .droppable-capture-preview-card {
  display: flex;
  transform: translateX(100%);
}
.droppable-complete .droppable-capture-preview-card {
  display: flex;
  transform: translateX(-100%);
}
.droppable-processing .droppable-capture-card,
.droppable-capture-preview .droppable-capture-card {
  display: block;
  transform: translateX(-100%);
}
.droppable-capture,
.droppable-capture-preview {
  border-style: solid;
}
.tw-dropppable-responsive-video {
  max-width: 400px;
  max-height: 300px;
  margin: 0 auto 16px auto;
  border-radius: 3px;
  overflow: hidden;
}
.droppable-default-card {
  transform: translateX(0);
}
.droppable-processing,
.droppable-complete,
.droppable-capture,
.droppable-capture-preview  {
  .droppable-default-card {
    transform: translateX(-100%);
  }
}
*/
