.status-messages {
  display: none;
}
.touched,
.untouched,
.pristine,
.dirty {
  display: none;
}
.ng-touched ~ .status-messages > .touched,
.ng-untouched ~ .status-messages > .untouched,
.ng-pristine ~ .status-messages > .pristine,
.ng-dirty ~ .status-messages > .dirty {
  display: block;
}
