<div class="droppable-card-content">
  <h4 class="m-b-2">
    <span ng-if="$ctrl.isProcessing && $ctrl.processingMessage"
      class="upload-processing-message">
      {{$ctrl.processingMessage}}
    </span>
    <span ng-if="$ctrl.isError && $ctrl.errorMessage"
      class="upload-failure-message">
      {{$ctrl.errorMessage}}
    </span>
  </h4>

  <tw-process
    size="sm"
    state="$ctrl.processingState"
    ng-if="$ctrl.isProcessing"
  ></tw-process>

  <ul ng-if="$ctrl.isError && $ctrl.validationMessages"
    class="text-xs-left m-b-2">
    <li ng-if="$ctrl.validationMessages[0]">{{ $ctrl.validationMessages[0] }}</li>
    <li ng-if="$ctrl.validationMessages[1]">{{ $ctrl.validationMessages[1] }}</li>
    <li ng-if="$ctrl.validationMessages[2]">{{ $ctrl.validationMessages[2] }}</li>
  </ul>

  <a href=""
    ng-if="$ctrl.isError"
    class="btn btn-primary"
    ng-click="$ctrl.onReselect()"
    role="button">
    <span ng-if="$ctrl.cancelText" ng-bind="$ctrl.cancelText"></span>
    <span ng-if="!$ctrl.cancelText" class="icon icon-upload m-r-0"></span>
  </a>
</div>
